<!-- FOOTER -->

<footer class="grid-12-xs last">
	<div class="cont95">
		<div class="grid-2-m menufoot">
			<h4 class="farray">Menu</h4>
			<a href="/">Inicio</a>
			<a href="/shop">Tienda</a>
			<a href="/contacto">Contacto</a>
			<a href="/nosotros">Nosotros</a>
		</div>
		<div class="grid-2-m menufoot">
			<h4 class="farray">Links</h4>
			<a href="/checkout">Carrito</a>
			<a href="/blog/">Blog</a>
			<a href="/perfil">Perfil</a>
			<a href="/perfil/crear-cuenta">Registrarse</a>
		</div>
		<div class="grid-2-m menufoot">
			<h4 class="farray">Info</h4>
			<a href="/contacto">Contacto</a>
			<a href="/privacidad">Privacidad</a>
			<a href="/politicas">Políticas</a>
			<a href="/sostenibilidad	">Sostenibilidad</a>
		</div>
		<div class="grid-6-m last">
			<h4 class="farray">síguenos y recibe promociones y noticias.</h4>
			<form class="formfooter grid-12-xs last" action="/suscribe" method="post">
				<div class="grid-10-xs">
					<input type="email" name="email" placeholder="INGRESA TU EMAIL" class="farray">
				</div>
				<div class="grid-2-xs last">
					<button class="icon-tick"></button>
				</div>
			</form>
			<div class="grid-12-xs text-center menusocialfoot last">
				<div class="grid33">
					<a href="https://www.facebook.com/bodegario/?fref=ts" target="_blank" class="icon-facebook2"></a>
				</div>
				<div class="grid33">
					<a href="https://es.pinterest.com/bodegario/" target="_blank" class="icon-pinterest"></a>
				</div>
				<div class="grid33">
					<a href="https://www.instagram.com/bodegario/" target="_blank" class="icon-instagram"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-12-xs last">
		<hr class="hrlight">
		<div class="grid-12-xs last">
			<div class="grid15 text-center">
				<h5 id="titulofoot" class="farray">BODEGARIO</h5>
			</div>
			<div class="grid70 text-center">
				<p>Creado con <img src="" id="heart"> en Bogotá, Colombia por <a href="http://estudiocodesign.com" target="_blank"><img src="" id="logofooter"></a></p>
			</div>
			<div class="grid15">
				<img id="cards" src="">
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="/public/js/script.min.js"></script>
</body>
</html>