<html>
<head>
    <title>{{ _APP_NAME }} | {{ page_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="/assets/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/karla/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/farray/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>

<header>
	<div class="grid-12-xs headerin last">
		<div class="grid15 menuleft text-center">
			<a class="text-uppercase kalra-bold backred" id="botoncategorias">categorías</a>
		</div>
		<div class="grid70 menucenter text-center">
			<a href="/home" class="karla-bold {% if page_name == 'Home' %} sel {% endif %} ">HOME</a>
			<a href="/shop" class="karla-bold {% if (page_name == 'Shop') or (page_name == 'Producto') %} sel {% endif %}">TIENDA</a>
			<a href="/" class="farray" id="logohead">BODEGARIO</a>
			<a href="/contacto" class="karla-bold {% if page_name == 'Contacto' %} sel {% endif %}">CONTACTO</a>
			<a href="/blog" class="karla-bold {% if page_name == 'Blog' %} sel {% endif %}">BLOG</a>
		</div>
		<div class="grid15 menuright text-right">
			<i class="icon-th-menu" id="menuiconmobile"></i>
			<i class="icon-search" id="opensearch"></i>
			<a href="/perfil"><i class="{% if page_name == 'Perfil' %} sel {% endif %} icon-user"></i></a>
			<i class="icon-cart {% if page_name == 'Checkout' %} backred text-white {% endif %}" id="carticon"> {% if cart|length > 0 %} <span>{{cart|length}}</span> {% endif %} </i>
		</div>
		<div id="cart">
			<div class="grid-12-xs last">
				<div class="cont85">
					<div class="grid-7-xs">
						<span class="titulocart">TU ORDEN</span>
					</div>
					<div class="grid-5-xs text-right last">
						<span class="titulocart">PRECIO</span>
					</div>

					{% if cart|length > 0 %}

						{% for cart_item in cart %}
						    
							<div class="grid-12-xs cartitem last">
								<div class="grid-1-xs">
									<i class="icon-times deletecart" minus="{{ cart_item['cantidad'] * cart_item['precio'] }}" ref="{{ cart_item['sku'] }}||{{ cart_item['modelo'] }}"></i>
								</div>
								<div class="grid-7-xs">
									<span class="text-uppercase itemdesc">{{ cart_item['nombre'] }} - Modelo {{ cart_item['modelo'] }} x {{ cart_item['cantidad'] }}</span>
								</div>
								<div class="grid-4-xs text-right last">
									<span class="text-uppercase precio">${{ cart_item['precio']|number_format }}</span>
								</div>
							</div>

						{% endfor %}

						<div class="grid-12-xs text-right last">
							<span class="totalcart" value="{{ cart_total }}">TOTAL ${{ cart_total|number_format }}</span>
						</div>
						<div class="grid-12-xs text-right last">
							<a href="/checkout" class="btncheckout">CHECKOUT</a>
						</div>

					{% else %}

						<p class="text-shadow karla-bold">Tu carrito esta vacio, agrega algo ya!</p>

					{% endif %}
				</div>
			</div>
		</div>
	</div>
</header>

<div id="menumob">
	<a href="/">Inicio</a>
	<a href="/shop">Tienda</a>
	<a href="/nosotros">Nosotros</a>
	<a href="/contacto">Contacto</a>
</div>

<div id="searchcont">
	<div class="cont95">
		<div class="grid-10-xs">
			<input type="search" id="search_input" placeholder="INGRESA TU BUSQUEDA AQUÍ">
		</div>
		<div class="grid-2-xs text-right last">
			<i class="icon-times" id="closesearch"></i>
		</div>
		<div class="grid-12-xs last resultados" id="resultadossearch">
			<h2>Ingresa tu busqueda arriba. Busca por nombre, categoría, marca y más!</h2>
		</div>
	</div>
</div>


<div id="categorias">
	<h3 class="text-center">TODOS</h3>
	<div class="grid-12-xs text-center">
		<span class="text-center marcas">Marcas Exclusivas <i class="icon-star2"></i></span>
	</div>
	<div class="grid-12-xs last menucat seecat" url="/shop" value="{{cat.url}}">
		<div class="cont90">
			<div class="grid-11-xs">
				<span>Todos</span>
			</div>
			<div class="grid-1-xs last">
				<i class="icon-arrow-right-thick arrow"></i>
			</div>
		</div>
	</div>
	{% for cat in cats %}
		<div class="grid-12-xs last menucat {% if subcats[cat.url]|length != 0 %} menucatclickable {% else %} seecat {% endif %}" url="/shop/{{cat.url}}" value="{{cat.url}}">
			<div class="cont90">
				<div class="grid-11-xs">
					{% if cat.marca == 1 %}
						<i class="icon-star2"></i>
					{% endif %}
					<span>{{cat.nombre}}</span>
				</div>
				<div class="grid-1-xs last">
					<i class="icon-arrow-right-thick arrow"></i>
				</div>
			</div>
		</div>
	{% endfor %}
</div>