@import 'helpers/all';
@import 'modules/all';
@import 'plugins/all';
@import 'base/all';


/* VARIABLES */

$red: #F96566;
$red-shadow:#D45B61;
$background-color:#F7F7F7;

/* ADD FONT STYLES */

body {
	font-family: 'karlaregular', helvetica;
	background-color: $background-color;
}

.farray {
	font-family: 'farrayregular';
}

/* GLOBALS */

.text-underline {
	text-decoration: underline;
}

#botoncategorias {
	margin:0;
	padding: 15px 0;
	font-size: 15px;
	display:block;
	color:#fff;
	font-weight:bold;
	cursor: pointer;
}

.backred {
	background-color:$red;
	&:hover {
		background-color:$red-shadow!important;
	}
}

.backredshadow {
	background-color:$red-shadow;
}

header {
	margin:0;
	padding:0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	a {
		margin:0;
		padding:0;
	}
}

.headerin {
	background-color: #fff;
	z-index: 3;
}

.menucenter {
	a {
		position: relative;
		left: 25px;
		display:inline-block;
		margin: 15px 25px;
		&:hover {
			color:$red;
		}
	}
	a.sel {
		color:$red;
	}
	.karla-bold {
		font-size: 14px;
	}
}

.maincontent {
	margin-top: 51px;
}
.bigtitle {
	font-size: 60px;
	color: #fff;
}

#logohead {
	color:#000;
	font-size: 24px;
	margin: 5px 30px 0px 30px;
	position: relative;
	top: 3px;
	&:hover {
		color:$red;
	}
}

.menuright {
	i {
		display: inline-block;
		font-size: 20px;
		margin: 0;
		margin-left: -3px;
		padding: 15.5px 11px;
		cursor: pointer;
		border-left: 1px solid #DDDDDD;
		&:hover {
			background-color:#ddd;
			color: #000;
		}
	}
	i.sel {
		background-color:#ddd;
		color: #000;
	}
	.icon-search {
		margin-right: -1px;
	}
}

.slidermain {
	.cont60 {
		position: absolute;
		left: 20%;
		top: 100px;
		z-index: 5;
		h1, h2 {
			color:#fff;
		}
		h1 {
			margin: 20px 0;
		}
		h2 {
			font-size: 32px;
		}
	}	
}

.text-red {
	color:$red;
}

.btnbig {
	display: inline-block;
	padding: 10px 120px;
	@include border-radius(12px);
}

.btn-red {
	background-color: $red;
	color: #fff; 
	&:hover {
		background-color:$red-shadow;
		color: #fff;
	}
}

.destacados {
	h3 {
		font-size: 32px;
		color:#808080;
		text-transform: uppercase;
	}
}

.filtros {
	a {
		color: #333;
		display: inline-block;
		border-bottom: 4px solid #333;
		padding: 12px 15px;
		text-transform: uppercase;
		margin: 0 5px;
		margin-top: 20px;
		&:hover {
			color:$red;
			border-bottom: 4px solid $red;
		}
	}
	a.sel {
		color:$red;
		border-bottom: 4px solid $red;
	}
}

/* PRODUCTOS */

.productos {
	margin-top: 30px;
}

.producto {
	background: #fff;
	margin-bottom: 25px;
	padding: 20px 0;
	.precio {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		background-color: #ccc;
		color:#fff;
		padding: 7px 20px;
		&:hover {
			background-color:#bcbcbc;
		}
		.addfastcart {
			display: inline-block;
			position: relative;
			top: 1px;
		}
	}
	.favorito,
	.zoom {
		display: none;
		position: absolute;
		top: 10px;
		cursor: pointer;
		font-size: 18px;
	}
	.favorito {
		left: 35px;
		&:hover {
			color:$red;
		}
	}
	.zoom {
		left: 15px;
		&:hover {
			color:#000;
		}
	}
	&:hover {
		.favorito,
		.zoom {
			display: inline-block;
		}
	}
}

/* FOOTER */

footer {
	background-color: #fff;
	padding: 15px 0 5px 0;
	hr {
		margin: 30px 0 15px 0!important;
	}
}

.menufoot {
	a {
		display: block;
	}
}

.formfooter {
	input[type="email"] {
		width: 100%;
		height: 37px;
		text-indent: 15px;
		background-color: #ddd;
		border: none;
		color: #808080;
		font-size: 12px;
		&:focus {
			background-color:#d3d3d3;
		}
	}
	button {
		width: 100%;
		background-color: $red;
		border: none;
		color: #fff;
		height: 37px;
		&:hover {
			background-color:$red-shadow;
		}
	}
}

.menusocialfoot {
	a {
		margin-top: 20px;
		display: inline-block;
		font-size: 25px;
		padding: 15px;
		background-color: #ddd;
		@include border-radius(50%);
		&:hover {
			background-color:#808080;
			color: #fff;
		}
	}
}

.hrlight {
	border:none;
	border-bottom: 1px solid #ddd;
	margin: 0;
}

#titulofoot {
	font-size: 20px;
	margin: 0;
	margin-top: 14px;
}

#heart {
	width: 30px;
	height: 30px;
	display: inline-block;
}

#logofooter {
	width: 182px;
	height: 30px;
	display: inline-block;
	position: relative;
	bottom: 3px;
	&:hover {
		opacity:0.8;
	}
}

#cards {
	position: relative;
	top: 9px;
}

.upperimg {
	z-index: 10;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 140px;
	h1 {
		margin: 0;
		color: #fff;
		font-size: 35px;
		position: relative;
		top: 105px;
	}
	a {
		color: #fff;
		display: inline-block;
		margin: 0;
		padding: 8px 12px;
		border-bottom: 4px solid $background-color;
		position: relative;
		top: 103px;
		&:hover {
			border-bottom: 4px solid $red;
		}
	}
	a.sel {
		border-bottom: 4px solid $red;
	}
}

.productosencillo {
	background-color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
}

.detallesprod {
	h1, h2 {
		text-transform: uppercase;
		font-size: 32px;
		margin: 0; 
		color: #1A1A1A;
	}
	h1 {
		margin-top: 35px;
	}
	p {
		color: #999;
		text-align: justify;
	}
}

.cantidad {
	margin-top: 5px;
	display: block;
	background-color: #d3d3d3;
	padding: 10px 0;
	text-align: center;
	@include border-radius(8px);
	i {
		display: inline-block;
		position: absolute;
		top:18px;
		cursor: pointer;
		&:hover {
			color:#333;
		}
	}
	.pluscant,
	.pluscantcheckout {
		right: 7px;
	}
	.minuscant,
	.minuscantcheckout {
		left: 7px;
	}
}

.options {
	margin-top: 15px;
	text-align: center;
	span, a {
		cursor: pointer;
		display: block;
		padding: 10px 0;
		@include border-radius(8px);
		background-color: #000;
	}
	span {
		margin-top: 2px;
	}
	.agregar {
		background-color: $red;
		color: #fff;
		&:hover {
			background-color: $red-shadow;
		}
	}
	.comprar {
		color: #000;
		background-color: #c4c4c4;
		&:hover {
			background-color:#808080;
			color: #fff;
		}
	}
}

.socialproducto {
	text-align: center;
	a {
		display: inline-block;
		margin: 0 10px;
		margin-top: 20px;
		font-size: 20px;
	}
}

.description {
	margin: 50px 0;
}

.tituloconacto {
	color: #666;
	font-size: 28px;
}

form {
	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	textarea {
		border: none;
		border: 2px solid #ccc;
		background:none;
		width: 100%;
		@include border-radius(8px);
		@include transition(0.5s);
		text-indent: 15px;
		font-family: 'karlaregular', helvetica;
		&:focus {
			outline:none;
			border: 2px solid $red;
		}
	}
	textarea {
		margin-bottom: 25px;
		padding-top: 10px;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="number"] {
		height: 40px;
	}
	input[type="submit"] {
		height: 37px;
		margin-bottom: 25px;
		background-color: $red;
		width: 100%;
		color: #fff;
		border: none;
		@include border-radius(8px);
		font-family: 'karlaregular', helvetica;
		&:hover {
			background-color: $red-shadow;
		}
	}
}

label.select {
	position: relative;
	&:after {
		content: '<>';
		font:11px "Consolas", monospace;
		color: #808080;
		position:absolute;
		left: 8px;
		top: 3px;
		-webkit-transform:rotate(90deg);
	    -moz-transform:rotate(90deg);
	    -ms-transform:rotate(90deg);
	    transform:rotate(90deg);
	}
}
select {
	text-transform: capitalize;
	border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 100%;
	border: 2px solid #ccc;
	color: #808080;
	text-indent: 15px;
	@include border-radius(8px);
	font-family: 'karlaregular', helvetica;
	height: 40px;
	text-transform: uppercase;
}

#carticon {
	&:hover {
		background-color: $red!important;
		color: #fff!important;
	}
	span {
		font-family: 'karlabold', helvetica;
		position: absolute;
		right: 7px;
		top: 5px;
		font-size: 11px;
	}
}

#categorias {
	display: none;
	overflow: scroll;
	background-color: $red;
	z-index: 50;
	position: fixed;
	left: 0;
	width: 320px;
	h3 {
		color: #fff;
		margin-bottom: 0;
	}
	.marcas {
		color: #fff;
		font-size: 13px;
		display: inline-block;
		margin-bottom: 20px;
	}
	.menucat {
		cursor: pointer;
		color: #fff;
		font-size: 13px;
		border-top: 1px solid $red-shadow;
		padding: 10px 0;
		&:hover {
			background-color:$red-shadow;
		}
		.arrow {
			position: relative;
			top: 2px;
		}
		&:last-child {
			border-bottom: 1px solid $red-shadow;
		}
	}
}

#searchcont {
	display: none;
	overflow: scroll;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $background-color;
}

#search_input {
	border: none;
	width: 100%;
	height: 60px;
	margin-top: 25px;
	font-family: 'karlaregular', helvetica;
	font-size: 32px;
	background-color: $background-color;
	border-bottom: 3px solid #ddd;
	color: #999;
	@include transition(0.5s);
	&:focus {
		border-bottom: 3px solid $red;
	}
}

#closesearch {
	font-size: 50px;
	cursor: pointer;
	margin-top: 30px;
	display: inline-block;
	&:hover {
		color:$red;
	}
}

.resultados {
	margin-top: 25px;
}

#cart {
	display: none;
	position: absolute;
	overflow: scroll;
	right: 0;
	z-index: 50;
	background-color: $red;
	width: 420px;
	.titulocart {
		color: #fff;
		display: inline-block;
		font-family: 'karlabold', helvetica;
		margin: 15px 0; 
		font-size: 18px;
	}
	.cartitem {
		margin: 6px 0;
		i {
			cursor: pointer;
			position: relative;
			top: 2px;
			color: #fff;
			&:hover {
				color:rgba(0,0,0,0.45);
			}
		}
		.itemdesc {
			font-size: 14px;
			color: rgba(0,0,0,0.45);
			font-family: 'karlabold', helvetica;
		}
		.precio {
			font-size: 14px;
			color: #fff;
			font-family: 'karlabold', helvetica;
		}
	}
	.totalcart {
		color: #fff;
		font-family: 'karlabold', helvetica;
		font-size: 18px;
		display: inline-block;
		margin: 10px 0;
	}
	.btncheckout {
		display: block;
		background-color: rgba(0,0,0,0.2);
		text-align: center;
		padding: 10px 0;
		@include border-radius(8px);
		color: #fff;
		margin-top: 8px;
		font-family: 'karlabold', helvetica;
		margin-bottom: 20px;
		&:hover {
			background-color: rgba(0,0,0,0.3);
		}
	}
}

.checkout {
	background-color: #fff;
	margin: 25px 0;
}

.cantidadcheckout {
	margin-top: 35px;
	i {
		top:48px;
	}
}

.refcheckout {
	margin-top: 35px;
}

.preciobig {
	display: inline-block;
	font-size: 22px;
	margin-top: 40px;
}

.deleteproducto {
	font-size: 20px;
	padding: 10px;
	display: inline-block;
	@include border-radius(50%);
	color: #808080;
	border:2px solid #fff;
	@include transition(0.6s);
	margin-top: 32px;
	cursor: pointer;
	&:hover {
		border:2px solid $red;
		color: $red;
	}
}

#totalcheckout {
	font-size: 30px;
	font-family: 'karlabold', helvetica;
	color: #333;
}

.text-light {
	color: #808080;
	font-family: 'karlabold', helvetica;
}

.btncheck {
	margin: 25px 0;
	display: block;
	background-color: $red;
	padding: 10px 0;
	@include border-radius(8px);
	color: #fff;
	font-family: 'karlabold', helvetica;
	&:hover {
		color:#fff;
		background-color: $red-shadow;
	}
}

.numbercircle {
	display: inline-block;
	padding: 10px 18px;
	@include border-radius(50%);
	border:2px solid $red;
	color: $red;
	margin-right: 15px;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
	th {
		padding: 15px 0;
		font-family: 'karlaregular', helvetica;
		font-weight: 400;
	}
	td {
		color: #b3b3b3;
		padding: 15px 0;
		font-family: 'karlaregular', helvetica;
	}
	.tddark {
		background-color: #ededed;
		color: #666;
	}
}

.marginbottom {
	margin-bottom: 25px!important;
}

.form {
	input {
		margin-bottom: 25px;
	}
	input[type="submit"] {
		font-family: 'karlabold', helvetica;
	}
}

.margin0 {
	margin-bottom: 0!important;
}

.crearperfil {
	display: inline-block;
	padding: 8px 15px;
	background-color: $red;
	color: #fff;
	@include border-radius(8px);
	margin-top: 25px;
	cursor: pointer;
	&:hover {
		background-color:$red-shadow;
		color: #fff;
	}
}

.creardireccion {
	display: block;
	text-align: center;
	border: 2px solid #ccc;
	padding: 8px 0;
	@include border-radius(8px);
	margin-top: 25px;
	margin-bottom: 25px;
	cursor: pointer;
	@include transition(0.3s);
	&:hover {
		border: 2px solid $red;
		background-color: $red;
		color: #fff;
	}
}

.direccion {
	text-align: center;
	border: 2px solid #ccc;
	padding: 15px 0;
	@include transition(0.3s);
	cursor: pointer;
	span {
		display: block;
	}
	&:hover {
		border: 2px solid $red;
		color: $red;
	}
}

.direccionsel {
	border: 2px solid $red;
	color: $red;
}

.color {
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	@include border-radius(3px);
	border: 2px solid #d3d3d3;
	.grid50 {
		height: 16px;
	}
	&:hover {
		@include border-radius(3px);
		border: 2px solid #aaaaaa;
	}
}

.colorbig {
	display: inline-block;
	cursor: pointer;
	@include border-radius(3px);
	.grid50 {
		height: 22px!important;
	}
	width: 22px!important;
	height: 22px!important;
	border: 4px solid #d3d3d3!important;
	&:hover {
		border: 4px solid #aaaaaa!important;
	}

}

.coloroutline {
	border-color: #aaaaaa!important;
}

.colorselbig {
	border: 4px solid #aaaaaa!important;
}

.colorsel {
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	@include border-radius(3px);
	border: 2px solid #d3d3d3;
	.grid50 {
		height: 16px;
	}
	&:hover {
		@include border-radius(3px);
		border: 2px solid #d3d3d3;
	}
}

.colorsdiv {
	margin: 15px 0;
}

.cate {
	font-size: 13px;
}

.text-shadow {
	color: rgba(0,0,0,0.4);
}

.checkoutdiv {
	padding: 10px 0;
}

.btnred {
	display: inline-block;
	background-color: $red;
	padding: 10px 30px;
	@include border-radius(8px);
	color: #fff;
	&:hover {
		background-color:$red-shadow;
		color:#fff;
	}
}

.pagination {
	margin-bottom: 25px;
	a {
		display: inline-block;
		background-color: #d3d3d3;
		padding: 10px 15px;
		&:hover {
			background-color:#a0a0a0;
			color: #333;
		}
	}
	a.sel {
		background-color:#a0a0a0;
		color: #333;
	}
}

.margintop {
	margin-top: 25px; 
}

.divlogin {
	position: absolute;
	left: 35%;
	top: 200px;
	a {
		text-decoration: underline;
		&:hover {
			color:#000;
		}
	}
}

.opcionesperfil {
	a {
		display: block;
		margin: 0;
		padding: 15px 0;
		font-family: 'karlabold', helvetica;
		text-transform: uppercase;
		&:hover {
			background-color: #d3d3d3;
		}
	}
	a.sel {
		background-color: #d3d3d3;
	}
}

#creardireccion {
	display: none;
	text-align:center;
	position: fixed;
	z-index: 1500;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: scroll;
	background-color: rgba(0,0,0,0.3);
	.contdir {
		background-color: #fff;
		margin-top: 50px;
		@include border-radius(8px);
	}
	#closedirecciones {
		position: absolute;
		right: 15px;
		top: 10px;
		cursor: pointer;
		font-size: 25px;
		&:hover {
			color:#000;
		}
	}
	h2 {
		display: block;
		margin: 0;
		padding: 20px 0;
	}
} 

.resumenpedido {
	margin: 25px 0;
	background-color: #fff;
}

.whiteback {
	background-color: #fff;
}

#menuiconmobile {
	display: none;
}

#menumob {
	display: none;
	position: fixed;
	text-align: center;
	left: 0;
	background-color: $red;
	width: 100%;
	z-index: 2000;
	a {
		display: block;
		font-size: 24px;
		color: #fff;
		margin: 0;
		padding: 15px 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
}

.prodmobile {
	display: none;
}

@media (max-width: 1100px) {
	.slidermain {
		.cont60 {
			top: 50px;
		}	
	}
}

@media (max-width: 960px) {
	.maincontent {
		margin-top: 91px;
	}
	#menuiconmobile {
		display: inline-block;
	}
	.menucenter {
		display: none;
	}
	.menuleft {
		width: 100%!important;
	}
	.menuright {
		width:100%!important;
		text-align: center;
		i {
			width: 25%;
			margin: 0;
			padding: 10px 0;
			margin-right: -5px;
		}
	}
	.grid15 {
		display: inline-block!important;
	}
	.upperimg {
		.title {
			display: none;
		}
		.filtros {
			text-align: center;
			width: 100%;
			margin-right: 0;
		}
	}
	.slidermain {
		.cont60 {
			top: 30px;
			h1 {
				font-size: 36px;
			}
			h2 {
				font-size: 24px;
			}
		}	
	}
}

@media (max-width: 768px) {
	.prodesktop {
		display: none;
	}
	.prodmobile {
		display: block;
	}
	.cantidadtitle {
		display: none;
	}
	.cantidad {
		margin-top: 40px!important;
		i {
			top:53px;
		}
	}
	footer {
		text-align: center;
	}
	.slidermain {
		.cont60 {
			width: 90%;
			margin: auto;
			position: relative;
			top: 0;
			left: 0;
			margin-bottom: 25px;
			h1 {
				color: #333;
			}
			h2 {
				color: #808080;
			}
		}	
	}
}

.photo .zoomImg {
	cursor: zoom-in;
}

.font12 {
	font-size: 12px;
}

.opcion {
	font-size: 13px;
	display: block;
}
