%btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	background: none;
	cursor: pointer;
	padding: 10px 45px;
	display: inline-block;
	margin: 10px;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
}

%btn-flat {
	line-height: 24px;
	font-size: 16px;
}

%btn-flat-border {
	border: none;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

%btn-border {
	background-color: transparent;
}

.btn {
	@extend %btn;
}

.btn-flat {
	@extend %btn-flat;
	&:hover {
		color:#fff;
	}
	&:active {
		position:relative;
		top: 3px;
	}
}

.btn-flat-border {
	@extend %btn-flat;
	@extend %btn-flat-border;
	&:hover {
		color:#fff;
	}
}

.btn-rounded {
	@include border-radius(8px);
}

.btn-round {
	@include border-radius(25px);
}

.btn-cirlce {
	padding: 30px;
	@include border-radius(50%);
}

.btn-flat-rounded {
	@extend %btn-flat;
	@include border-radius(8px);
	&:hover {
		color:#fff;
	}
	&:active {
		position:relative;
		top: 3px;
	}
}

.btn-flat-round {
	@extend %btn-flat;
	@include border-radius(25px);
	&:hover {
		color:#fff;
	}
	&:active {
		position:relative;
		top: 3px;
	}
}

.btn-flat-full-border,
.btn-flat-full-border-dashed,
.btn-flat-full-border-dotted {
	@extend %btn-flat;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-width: 3px;
	border-style: solid;
	&:hover {
		background: transparent!important;
	}
	&:active {
		position:relative;
		top: 3px;
	}
}

.btn-flat-full-border-dashed {
	border-style: dashed;
}

.btn-flat-full-border-dotted {
	border-style: dotted;
}

.btn-flat-border-bottom {
	@extend %btn-flat-border;
	&:hover {
		color:#fff;
		border-bottom-width: 2px;
		top: 3px;
		margin-bottom: 13px;
	}
	&:active {
		color:#fff;
		border-bottom-width: 0px;
		top: 5px;
		margin-bottom: 15px;
	}
}

.btn-flat-border-top {
	@extend %btn-flat-border;
	border: none;
	border-top-width: 5px;
	border-top-style: solid;
	&:hover {
		color:#fff;
		border-top-width: 2px;
		bottom: 3px;
	}
	&:active {
		color:#fff;
		border-top-width: 0px;
		bottom: 5px;
	}
}

.btn-flat-border-bottom-rise {
	@extend %btn-flat-border;
	border-bottom-width: 3px;
	&:hover {
		color:#fff;
		border-bottom-width: 5px;
		bottom: 2px;
	}
	&:active {
		color:#fff;
		border-bottom-width: 0px;
		top: 3px;
	}
}

.btn-flat-border-left {
	@extend %btn-flat-border;
	border: none;
	border-left-width: 5px;
	border-left-style: solid;
	&:hover {
		color:#fff;
		border-left-width: 2px;
		right: 3px;
	}
	&:active {
		color:#fff;
		border-left-width: 0px;
		right: 5px;
	}
}

.btn-flat-border-right {
	@extend %btn-flat-border;
	border: none;
	border-right-width: 5px;
	border-right-style: solid;
	&:hover {
		color:#fff;
		border-right-width: 2px;
		right: 3px;
	}
	&:active {
		color:#fff;
		border-right-width: 0px;
		right: 5px;
	}
}

.btn-border {
	@extend %btn-border;
	border-style: solid;
	border-width: 3px;
	&:active {
		position:relative;
		top: 2px;
	}
}

.btn-border-dashed {
	@extend %btn-border;
	border-style: dashed;
	border-width: 3px;
}

.btn-4x {
	@include font-size(24px);
	padding: 20px 60px;
}

.btn-3x {
	@include font-size(20px);
	padding: 15px 55px;
}

.btn-2x {
	@include font-size(18px);
	padding: 12px 50px;
}

.btn-full {
	display: block;
	width: 100%;
}

.icon-right {
	line-height: 25px;
	position: absolute;
	right: 8%!important;	
}

.icon-left {
	line-height: 25px;
	position: absolute;
	left: 8%!important;	
}

.icon-right-line {
	line-height: 25px;
	position: absolute;
	right: 8%!important;
	padding-left: 18px;
	border-left: 1px solid #fff;	
}

.icon-left-line {
	line-height: 25px;
	position: absolute;
	left: 8%!important;
	padding-right: 18px;
	border-right: 1px solid #fff;	
}

.btn-left,
.btn-right {
	display: inline-block;
}

.btn-left {
	@include single-border-radius(0px, top, right);
	@include single-border-radius(0px, bottom, right);
	border-right-width: 1px;
	border-right-style: solid;
	margin-right: 0!important;
}

.btn-right {
	@include single-border-radius(0px, top, left);
	@include single-border-radius(0px, bottom, left);
	border-left-width: 1px;
	border-left-style: solid;
	margin-left: -4px!important;
}

.btn-right-special {
	@include single-border-radius(0px, top, left);
	@include single-border-radius(0px, bottom, left);
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color:#fff;
	margin-left: -4px!important;
	background-color: #fff;
	border-bottom-color: #d3d2d1;
	color: #333;
	&:hover {
		color:#333;
	}
	&:after {
		content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    border-width: 10px;
	    border-style: solid;
	    border-color: transparent #FFFFFF transparent transparent;
	    top: 12px;
	    right: 50px;
	    z-index: 200;
	}
}

.btn-xs {
	padding-right: 10px;
	padding-left: 10px;
}

.btn-icon {
	min-height: 47px;
}

%button-container {
	list-style: none;
	width: auto;
	display: inline-block;
	text-align: center;
	a {
		color: #fff;
		padding: 15px 20px;
		display: block;
		&:hover {
			cursor: pointer;
		}
	}
}

.button-container {
	@extend %button-container;
	a {
		margin: 0!important;
	}
}

.button-container-tabs {
	@extend %button-container;
	a {
		margin: 4px 0!important;
		@include single-border-radius(8px, top, right);
		@include single-border-radius(8px, bottom, right);	
	}
}

.button-container-rounded {
	@extend %button-container;
	a {
		margin: 4px 0!important;
		@include border-radius(8px);	
	}
}

.button-nav,
.button-nav-spaced {
	a {
		color: #fff;
		padding: 15px;
	}
}

.button-nav-spaced {
	a {
		margin: 0px !important;
	}
}

.button-nav-tight {
	a {
		margin-right: -4px!important;
	}
}









