.dropdown {
	border-bottom-width: 3px;
	border-bottom-style:solid;
	z-index: 300;
	position: absolute;
	@include border-radius(8px);
	&:before {
		content:'';
		position: absolute;
		top: -10px;
		left: 42%;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 12px 10px;
	}
	img {
		@include border-radius(50%);
	}
	a {
		&:first-child {
			@include single-border-radius(8px, top, left);
			@include single-border-radius(8px, top, right);
		}
		&:last-child {
			@include single-border-radius(8px, bottom, left);
			@include single-border-radius(8px, bottom, right);
		}
		i {
			position: absolute;
			right: 0;
			top: 7px;
			@include transition(0);
			&:hover {
				color:#fff;
			}
		}
		line-height: 30px;
		height: 30px;
		display: block;
		margin: 0;
		padding: 3px 15px;	
	}
}
