%showColor {
	height: 50px;
	border-bottom-style: solid;
	border-bottom-width: 12px; 
}

.show-color {
	@extend %showColor;
	text-align: center;
}

.show-color-wrapper {
	margin-left: 5%;
}

.show-color-description {

	text-align: center;
	p {
		margin: 5px 0;
		text-transform: uppercase;
		font-size: 12px;
	}
}


.show-color-cont {
	p {
		margin: 0;
		margin-bottom: 5px;
	}
}

@each $social_palette, $color in $social_palette {
	$base: nth($color, 1);
	$shadow: nth($color, 2);
	.#{$social_palette} {
		background-color: $base;
		border-color:$shadow;
		&:hover {
			background-color: $shadow;
		}
	}
	.#{$social_palette}-normal {
		background-color: $base;
		border-color: $shadow;
	}
	.#{$social_palette}-border {
		background-color: $base;
		border-color: $base;
		&:hover {
			color: $base;
		}
	}
	.#{$social_palette}-border-only {
		border-color: $base;
		color: $base;
		&:hover {
			background-color: $base;
			color: #fff;
		}
		&:active {
			background-color: $shadow;
			border-color: $shadow;
		}
	}
}

@each $small_palette, $color in $small_palette {
	$base: nth($color, 1);
	$shadow: nth($color, 2);
	.#{$small_palette} {
		background-color: $base;
		border-color: $shadow;
		&:hover {
			background-color: $shadow;
		}
	}
	.#{$small_palette}-normal {
		background-color: $base;
		border-color: $shadow;
	}
	.#{$small_palette}-border {
		background-color: $base;
		border-color: $base;
		&:hover {
			color: $base;
		}
	}
	.#{$small_palette}-border-only {
		border-color: $base;
		color: $base;
		&:hover {
			background-color: $base;
			color: #fff;
		}
		&:active {
			background-color: $shadow;
			border-color: $shadow;
		}
	}
}

.see-more-colors {
	margin-top: 30px;
}

.default {
	background-color: #aeb7c1;
	border-color: #8b959d;
}

.success {
	background-color: #4bb96e;
	border-color: #1dae5f;
}

.warning {
	background-color: #f6e280;
	border-color: #dcc66b;
}

.error {
	background-color: #cb343f;
	border-color: #b21f2f;
}

.info {
	background-color: #3597d3;
	border-color: #2881bb;
}

.disabled {
	background-color: #d1d2d4;
	border-color: #c1c0c0;
	pointer-events: none;
}

