.tooltips-right {
  	position: relative;
  	display: inline;
  	span {
  		position: absolute;
  		width:140px;
  		color: #FFFFFF;
  		background: #000000;
  		height: 30px;
  		line-height: 30px;
  		text-align: center;
  		visibility: hidden;
  		border-radius: 6px;
  		&:after {
  			content: '';
		  	position: absolute;
		  	top: 50%;
		  	right: 100%;
		  	margin-top: -8px;
		  	width: 0; height: 0;
		  	border-right: 8px solid #000000;
		  	border-top: 8px solid transparent;
		  	border-bottom: 8px solid transparent;
  		}
  	}
  	&:hover {
  		span {
  			visibility: visible;
			opacity: 0.8;
			left: 100%;
			top: 50%;
			margin-top: -15px;
			margin-left: 15px;
			z-index: 999;
  		}
  	}
}

.tooltips-left {
  	position: relative;
  	display: inline;
  	span {
  		position: absolute;
  		width:140px;
  		color: #FFFFFF;
  		background: #000000;
  		height: 30px;
  		line-height: 30px;
  		text-align: center;
  		visibility: hidden;
  		border-radius: 6px;
  		&:after {
  			content: '';
  			position: absolute;
		  	top: 50%;
		  	left: 100%;
		  	margin-top: -8px;
		  	width: 0; height: 0;
		  	border-left: 8px solid #000000;
		  	border-top: 8px solid transparent;
		  	border-bottom: 8px solid transparent;
  		}
  	}
  	&:hover {
  		span {
  			visibility: visible;
		  	opacity: 0.8;
		  	right: 100%;
		  	top: 50%;
		  	margin-top: -15px;
		  	margin-right: 15px;
		  	z-index: 999;
  		}
  	}
}

.tooltips-top {
  	position: relative;
  	display: inline;
  	span {
  		position: absolute;
  		width:140px;
  		color: #FFFFFF;
  		background: #000000;
  		height: 30px;
  		line-height: 30px;
  		text-align: center;
  		visibility: hidden;
  		border-radius: 6px;
  		&:after {
  			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -8px;
			width: 0; height: 0;
			border-top: 8px solid #000000;
			border-right: 8px solid transparent;
			border-left: 8px solid transparent;
  		}
  	}
  	&:hover {
  		span {
  			visibility: visible;
		  	opacity: 0.8;
		  	bottom: 30px;
		  	left: 50%;
		  	margin-left: -76px;
		  	z-index: 999;
  		}
  	}
}

.tooltips-down {
  	position: relative;
  	display: inline;
  	span {
  		position: absolute;
  		width:140px;
  		color: #FFFFFF;
  		background: #000000;
  		height: 30px;
  		line-height: 30px;
  		text-align: center;
  		visibility: hidden;
  		border-radius: 6px;
  		&:after {
  			content: '';
		  	position: absolute;
		  	bottom: 100%;
		  	left: 50%;
		  	margin-left: -8px;
		  	width: 0; height: 0;
		  	border-bottom: 8px solid #000000;
		  	border-right: 8px solid transparent;
		  	border-left: 8px solid transparent;
  		}
  	}
  	&:hover {
  		span {
  			visibility: visible;
		  	opacity: 0.8;
		  	top: 30px;
		  	left: 50%;
		  	margin-left: -76px;
		  	z-index: 999;
  		}
  	}
}