@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?lh6dmy');
    src:    url('fonts/icomoon.eot?lh6dmy#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?lh6dmy') format('truetype'),
        url('fonts/icomoon.woff?lh6dmy') format('woff'),
        url('fonts/icomoon.svg?lh6dmy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-time2:before {
    content: "\eabf";
}
.icon-tablet:before {
    content: "\eabd";
}
.icon-mouse:before {
    content: "\eabe";
}
.icon-computer:before {
    content: "\eabc";
}
.icon-power2:before {
    content: "\ea9f";
}
.icon-page:before {
    content: "\eab5";
}
.icon-list:before {
    content: "\eab6";
}
.icon-image2:before {
    content: "\eab7";
}
.icon-grid:before {
    content: "\eab8";
}
.icon-dashboard:before {
    content: "\eab9";
}
.icon-cog3:before {
    content: "\eaba";
}
.icon-book2:before {
    content: "\eabb";
}
.icon-socialclip:before {
    content: "\eab4";
}
.icon-music:before {
    content: "\eab0";
}
.icon-ribbon:before {
    content: "\eab1";
}
.icon-home:before {
    content: "\eab2";
}
.icon-mustache:before {
    content: "\eab3";
}
.icon-calendar:before {
    content: "\eaaa";
}
.icon-bar-chart:before {
    content: "\eaab";
}
.icon-pie-chart:before {
    content: "\eaac";
}
.icon-stats1:before {
    content: "\eaad";
}
.icon-alien:before {
    content: "\eaae";
}
.icon-campaign:before {
    content: "\eaaf";
}
.icon-caret-down:before {
    content: "\eaa8";
}
.icon-caret-up:before {
    content: "\eaa9";
}
.icon-envelope2:before {
    content: "\eaa0";
}
.icon-envelope:before {
    content: "\eaa1";
}
.icon-settings:before {
    content: "\eaa2";
}
.icon-users:before {
    content: "\eaa3";
}
.icon-video2:before {
    content: "\eaa4";
}
.icon-camara:before {
    content: "\eaa5";
}
.icon-text:before {
    content: "\eaa6";
}
.icon-attachment2:before {
    content: "\eaa7";
}
.icon-add-cart:before {
    content: "\e901";
}
.icon-cart:before {
    content: "\e902";
}
.icon-add-user:before {
    content: "\e903";
}
.icon-shopping-bag:before {
    content: "\e904";
}
.icon-bell:before {
    content: "\e905";
}
.icon-dislike:before {
    content: "\e906";
}
.icon-purse:before {
    content: "\e907";
}
.icon-cart-full:before {
    content: "\e908";
}
.icon-flame:before {
    content: "\e909";
}
.icon-facebook:before {
    content: "\e90a";
}
.icon-flag:before {
    content: "\e90b";
}
.icon-globe:before {
    content: "\e90c";
}
.icon-magic-wand:before {
    content: "\e90d";
}
.icon-dribbble:before {
    content: "\e90e";
}
.icon-arrow-left-circle:before {
    content: "\e90f";
}
.icon-sharec:before {
    content: "\e910";
}
.icon-tumblr:before {
    content: "\e911";
}
.icon-switch:before {
    content: "\e912";
}
.icon-email:before {
    content: "\e913";
}
.icon-twitter:before {
    content: "\e914";
}
.icon-arrow-right-circle:before {
    content: "\e915";
}
.icon-cog:before {
    content: "\e916";
}
.icon-eye:before {
    content: "\e923";
}
.icon-youtubec:before {
    content: "\e924";
}
.icon-like:before {
    content: "\e925";
}
.icon-location:before {
    content: "\e926";
}
.icon-heart:before {
    content: "\e927";
}
.icon-star-full:before {
    content: "\e928";
}
.icon-star:before {
    content: "\e929";
}
.icon-user-woman:before {
    content: "\e92a";
}
.icon-times-circle:before {
    content: "\e92b";
}
.icon-user:before {
    content: "\e92c";
}
.icon-chat:before {
    content: "\e92d";
}
.icon-plus-circle:before {
    content: "\e92e";
}
.icon-zoom-more:before {
    content: "\e92f";
}
.icon-zoom-less:before {
    content: "\e930";
}
.icon-search:before {
    content: "\e931";
}
.icon-info-circle:before {
    content: "\e932";
}
.icon-tick-sircle:before {
    content: "\e933";
}
.icon-wallet:before {
    content: "\e934";
}
.icon-arrow-left:before {
    content: "\e935";
}
.icon-arrow-right:before {
    content: "\e936";
}
.icon-messsage:before {
    content: "\e937";
}
.icon-500px-with-circle:before {
    content: "\e938";
}
.icon-500px:before {
    content: "\e939";
}
.icon-basecamp:before {
    content: "\e93a";
}
.icon-behance:before {
    content: "\e93b";
}
.icon-creative-cloud:before {
    content: "\e93c";
}
.icon-dropbox:before {
    content: "\e93d";
}
.icon-evernote:before {
    content: "\e93e";
}
.icon-flattr:before {
    content: "\e93f";
}
.icon-foursquare:before {
    content: "\e940";
}
.icon-google-drive:before {
    content: "\e941";
}
.icon-google-hangouts:before {
    content: "\e942";
}
.icon-grooveshark:before {
    content: "\e943";
}
.icon-icloud:before {
    content: "\e944";
}
.icon-mixi:before {
    content: "\e945";
}
.icon-onedrive:before {
    content: "\e946";
}
.icon-paypal:before {
    content: "\e947";
}
.icon-picasa:before {
    content: "\e948";
}
.icon-qq:before {
    content: "\e949";
}
.icon-rdio-with-circle:before {
    content: "\e94a";
}
.icon-renren:before {
    content: "\e94b";
}
.icon-scribd:before {
    content: "\e94c";
}
.icon-sina-weibo:before {
    content: "\e94d";
}
.icon-skype-with-circle:before {
    content: "\e94e";
}
.icon-skype:before {
    content: "\e94f";
}
.icon-slideshare:before {
    content: "\e950";
}
.icon-smashing:before {
    content: "\e951";
}
.icon-soundcloud:before {
    content: "\e952";
}
.icon-spotify-with-circle:before {
    content: "\e953";
}
.icon-spotify:before {
    content: "\e954";
}
.icon-swarm:before {
    content: "\e955";
}
.icon-vine-with-circle:before {
    content: "\e956";
}
.icon-vine:before {
    content: "\e957";
}
.icon-vk-alternitive:before {
    content: "\e958";
}
.icon-vk-with-circle:before {
    content: "\e959";
}
.icon-vk:before {
    content: "\e95a";
}
.icon-xing-with-circle:before {
    content: "\e95b";
}
.icon-xing:before {
    content: "\e95c";
}
.icon-yelp:before {
    content: "\e95d";
}
.icon-dribbble-with-circle:before {
    content: "\e95e";
}
.icon-dribbble2:before {
    content: "\e95f";
}
.icon-facebook-with-circle:before {
    content: "\e960";
}
.icon-facebook2:before {
    content: "\e961";
}
.icon-flickr-with-circle:before {
    content: "\e962";
}
.icon-flickr:before {
    content: "\e963";
}
.icon-github-with-circle:before {
    content: "\e964";
}
.icon-github:before {
    content: "\e965";
}
.icon-google-with-circle:before {
    content: "\e966";
}
.icon-google:before {
    content: "\e967";
}
.icon-instagram-with-circle:before {
    content: "\e968";
}
.icon-instagram:before {
    content: "\e900";
}
.icon-lastfm-with-circle:before {
    content: "\e969";
}
.icon-lastfm:before {
    content: "\e96a";
}
.icon-linkedin-with-circle:before {
    content: "\e96b";
}
.icon-linkedin:before {
    content: "\e96c";
}
.icon-pinterest-with-circle:before {
    content: "\e96d";
}
.icon-pinterest:before {
    content: "\e96e";
}
.icon-rdio:before {
    content: "\e96f";
}
.icon-stumbleupon-with-circle:before {
    content: "\e970";
}
.icon-stumbleupon:before {
    content: "\e971";
}
.icon-tumblr-with-circle:before {
    content: "\e972";
}
.icon-tumblr2:before {
    content: "\e973";
}
.icon-twitter-with-circle:before {
    content: "\e974";
}
.icon-twitter2:before {
    content: "\e975";
}
.icon-vimeo-with-circle:before {
    content: "\e976";
}
.icon-vimeo:before {
    content: "\e977";
}
.icon-youtube-with-circle:before {
    content: "\e978";
}
.icon-youtube:before {
    content: "\e979";
}
.icon-times:before {
    content: "\e60f";
}
.icon-tick:before {
    content: "\e917";
}
.icon-plus2:before {
    content: "\e918";
}
.icon-minus:before {
    content: "\e919";
}
.icon-equals:before {
    content: "\e91a";
}
.icon-divide:before {
    content: "\e97a";
}
.icon-chevron-right:before {
    content: "\e91b";
}
.icon-chevron-left:before {
    content: "\e91c";
}
.icon-arrow-right-thick:before {
    content: "\e91d";
}
.icon-arrow-left-thick:before {
    content: "\e91e";
}
.icon-th-small:before {
    content: "\e91f";
}
.icon-th-menu:before {
    content: "\e60e";
}
.icon-th-list:before {
    content: "\e920";
}
.icon-th-large:before {
    content: "\e921";
}
.icon-home3:before {
    content: "\e922";
}
.icon-arrow-back:before {
    content: "\e97b";
}
.icon-rss:before {
    content: "\e97c";
}
.icon-location2:before {
    content: "\e97d";
}
.icon-link:before {
    content: "\e97e";
}
.icon-image:before {
    content: "\e97f";
}
.icon-arrow-up-thick:before {
    content: "\e980";
}
.icon-arrow-down-thick:before {
    content: "\e981";
}
.icon-starburst:before {
    content: "\e982";
}
.icon-starburst-outline:before {
    content: "\e983";
}
.icon-star2:before {
    content: "\e984";
}
.icon-flow-children:before {
    content: "\e985";
}
.icon-export:before {
    content: "\e986";
}
.icon-delete:before {
    content: "\e987";
}
.icon-delete-outline:before {
    content: "\e988";
}
.icon-cloud-storage:before {
    content: "\e989";
}
.icon-wi-fi:before {
    content: "\e98a";
}
.icon-heart2:before {
    content: "\e98b";
}
.icon-flash:before {
    content: "\e98c";
}
.icon-cancel:before {
    content: "\e98d";
}
.icon-backspace:before {
    content: "\e98e";
}
.icon-attachment:before {
    content: "\e98f";
}
.icon-arrow-move:before {
    content: "\e990";
}
.icon-warning:before {
    content: "\e991";
}
.icon-user2:before {
    content: "\e992";
}
.icon-radar:before {
    content: "\e993";
}
.icon-lock-open:before {
    content: "\e994";
}
.icon-lock-closed:before {
    content: "\e995";
}
.icon-location-arrow:before {
    content: "\e996";
}
.icon-info:before {
    content: "\e997";
}
.icon-user-delete:before {
    content: "\e998";
}
.icon-user-add:before {
    content: "\e999";
}
.icon-media-pause:before {
    content: "\e99a";
}
.icon-group:before {
    content: "\e99b";
}
.icon-chart-pie:before {
    content: "\e99c";
}
.icon-chart-line:before {
    content: "\e99d";
}
.icon-chart-bar:before {
    content: "\e99e";
}
.icon-chart-area:before {
    content: "\e99f";
}
.icon-video:before {
    content: "\e9a0";
}
.icon-point-of-interest:before {
    content: "\e9a1";
}
.icon-infinity:before {
    content: "\e9a2";
}
.icon-globe2:before {
    content: "\e9a3";
}
.icon-eye2:before {
    content: "\e9a4";
}
.icon-cog2:before {
    content: "\e9a5";
}
.icon-camera:before {
    content: "\e9a6";
}
.icon-upload:before {
    content: "\e9a7";
}
.icon-scissors:before {
    content: "\e9a8";
}
.icon-refresh:before {
    content: "\e9a9";
}
.icon-pin:before {
    content: "\e9aa";
}
.icon-key:before {
    content: "\e9ab";
}
.icon-info-large:before {
    content: "\e9ac";
}
.icon-eject:before {
    content: "\e9ad";
}
.icon-download:before {
    content: "\e9ae";
}
.icon-zoom:before {
    content: "\e9af";
}
.icon-zoom-out:before {
    content: "\e9b0";
}
.icon-zoom-in:before {
    content: "\e9b1";
}
.icon-sort-numerically:before {
    content: "\e9b2";
}
.icon-sort-alphabetically:before {
    content: "\e9b3";
}
.icon-input-checked:before {
    content: "\e9b4";
}
.icon-calender:before {
    content: "\e9b5";
}
.icon-world:before {
    content: "\e9b6";
}
.icon-notes:before {
    content: "\e9b7";
}
.icon-code:before {
    content: "\e9b8";
}
.icon-arrow-sync:before {
    content: "\e9b9";
}
.icon-arrow-shuffle:before {
    content: "\e9ba";
}
.icon-arrow-repeat:before {
    content: "\e9bb";
}
.icon-arrow-minimise:before {
    content: "\e9bc";
}
.icon-arrow-maximise:before {
    content: "\e9bd";
}
.icon-arrow-loop:before {
    content: "\e9be";
}
.icon-anchor:before {
    content: "\e9bf";
}
.icon-spanner:before {
    content: "\e9c0";
}
.icon-puzzle:before {
    content: "\e9c1";
}
.icon-power:before {
    content: "\e9c2";
}
.icon-plane:before {
    content: "\e9c3";
}
.icon-pi:before {
    content: "\e9c4";
}
.icon-phone:before {
    content: "\e9c5";
}
.icon-microphone:before {
    content: "\e9c6";
}
.icon-media-rewind:before {
    content: "\e9c7";
}
.icon-flag2:before {
    content: "\e9c8";
}
.icon-adjust-brightness:before {
    content: "\e9c9";
}
.icon-waves:before {
    content: "\e9ca";
}
.icon-social-twitter:before {
    content: "\e9cb";
}
.icon-social-facebook:before {
    content: "\e9cc";
}
.icon-social-dribbble:before {
    content: "\e9cd";
}
.icon-media-stop:before {
    content: "\e9ce";
}
.icon-media-record:before {
    content: "\e9cf";
}
.icon-media-play:before {
    content: "\e9d0";
}
.icon-media-fast-forward:before {
    content: "\e9d1";
}
.icon-media-eject:before {
    content: "\e9d2";
}
.icon-social-vimeo:before {
    content: "\e9d3";
}
.icon-social-tumbler:before {
    content: "\e9d4";
}
.icon-social-skype:before {
    content: "\e9d5";
}
.icon-social-pinterest:before {
    content: "\e9d6";
}
.icon-social-linkedin:before {
    content: "\e9d7";
}
.icon-social-last-fm:before {
    content: "\e9d8";
}
.icon-social-github:before {
    content: "\e9d9";
}
.icon-social-flickr:before {
    content: "\e9da";
}
.icon-at:before {
    content: "\e9db";
}
.icon-times-outline:before {
    content: "\e9dc";
}
.icon-plus-outline:before {
    content: "\e9dd";
}
.icon-minus-outline:before {
    content: "\e9de";
}
.icon-tick-outline:before {
    content: "\e9df";
}
.icon-th-large-outline:before {
    content: "\e9e0";
}
.icon-equals-outline:before {
    content: "\e9e1";
}
.icon-divide-outline:before {
    content: "\e9e2";
}
.icon-chevron-right-outline:before {
    content: "\e9e3";
}
.icon-chevron-left-outline:before {
    content: "\e9e4";
}
.icon-arrow-right-outline:before {
    content: "\e9e5";
}
.icon-arrow-left-outline:before {
    content: "\e9e6";
}
.icon-th-small-outline:before {
    content: "\e9e7";
}
.icon-th-menu-outline:before {
    content: "\e9e8";
}
.icon-th-list-outline:before {
    content: "\e9e9";
}
.icon-news:before {
    content: "\e9ea";
}
.icon-home-outline:before {
    content: "\e9eb";
}
.icon-arrow-up-outline:before {
    content: "\e9ec";
}
.icon-arrow-forward-outline:before {
    content: "\e9ed";
}
.icon-arrow-down-outline:before {
    content: "\e9ee";
}
.icon-arrow-back-outline:before {
    content: "\e9ef";
}
.icon-trash:before {
    content: "\e9f0";
}
.icon-rss-outline:before {
    content: "\e9f1";
}
.icon-message:before {
    content: "\e9f2";
}
.icon-location-outline:before {
    content: "\e9f3";
}
.icon-link-outline:before {
    content: "\e9f4";
}
.icon-image-outline:before {
    content: "\e9f5";
}
.icon-export-outline:before {
    content: "\e9f6";
}
.icon-cross:before {
    content: "\e9f7";
}
.icon-wi-fi-outline:before {
    content: "\e9f8";
}
.icon-star-outline:before {
    content: "\e9f9";
}
.icon-media-pause-outline:before {
    content: "\e9fa";
}
.icon-mail:before {
    content: "\e9fb";
}
.icon-heart-outline:before {
    content: "\e9fc";
}
.icon-flash-outline:before {
    content: "\e9fd";
}
.icon-cancel-outline:before {
    content: "\e9fe";
}
.icon-beaker:before {
    content: "\e9ff";
}
.icon-arrow-move-outline:before {
    content: "\ea00";
}
.icon-watch:before {
    content: "\ea01";
}
.icon-warning-outline:before {
    content: "\ea02";
}
.icon-time:before {
    content: "\ea03";
}
.icon-radar-outline:before {
    content: "\ea04";
}
.icon-lock-open-outline:before {
    content: "\ea05";
}
.icon-location-arrow-outline:before {
    content: "\ea06";
}
.icon-info-outline:before {
    content: "\ea07";
}
.icon-backspace-outline:before {
    content: "\ea08";
}
.icon-attachment-outline:before {
    content: "\ea09";
}
.icon-user-outline:before {
    content: "\ea0a";
}
.icon-user-delete-outline:before {
    content: "\ea0b";
}
.icon-user-add-outline:before {
    content: "\ea0c";
}
.icon-lock-closed-outline:before {
    content: "\ea0d";
}
.icon-group-outline:before {
    content: "\ea0e";
}
.icon-chart-pie-outline:before {
    content: "\ea0f";
}
.icon-chart-line-outline:before {
    content: "\ea10";
}
.icon-chart-bar-outline:before {
    content: "\ea11";
}
.icon-chart-area-outline:before {
    content: "\ea12";
}
.icon-video-outline:before {
    content: "\ea13";
}
.icon-point-of-interest-outline:before {
    content: "\ea14";
}
.icon-map:before {
    content: "\ea15";
}
.icon-key-outline:before {
    content: "\ea16";
}
.icon-infinity-outline:before {
    content: "\ea17";
}
.icon-globe-outline:before {
    content: "\ea18";
}
.icon-eye-outline:before {
    content: "\ea19";
}
.icon-cog-outline:before {
    content: "\ea1a";
}
.icon-camera-outline:before {
    content: "\ea1b";
}
.icon-upload-outline:before {
    content: "\ea1c";
}
.icon-support:before {
    content: "\ea1d";
}
.icon-scissors-outline:before {
    content: "\ea1e";
}
.icon-refresh-outline:before {
    content: "\ea1f";
}
.icon-info-large-outline:before {
    content: "\ea20";
}
.icon-eject-outline:before {
    content: "\ea21";
}
.icon-download-outline:before {
    content: "\ea22";
}
.icon-battery-mid:before {
    content: "\ea23";
}
.icon-battery-low:before {
    content: "\ea24";
}
.icon-battery-high:before {
    content: "\ea25";
}
.icon-zoom-outline:before {
    content: "\ea26";
}
.icon-zoom-out-outline:before {
    content: "\ea27";
}
.icon-zoom-in-outline:before {
    content: "\ea28";
}
.icon-tag:before {
    content: "\ea29";
}
.icon-tabs-outline:before {
    content: "\ea2a";
}
.icon-pin-outline:before {
    content: "\ea2b";
}
.icon-message-typing:before {
    content: "\ea2c";
}
.icon-directions:before {
    content: "\ea2d";
}
.icon-battery-full:before {
    content: "\ea2e";
}
.icon-battery-charge:before {
    content: "\ea2f";
}
.icon-pipette:before {
    content: "\ea30";
}
.icon-pencil:before {
    content: "\ea31";
}
.icon-folder:before {
    content: "\ea32";
}
.icon-folder-delete:before {
    content: "\ea33";
}
.icon-folder-add:before {
    content: "\ea34";
}
.icon-edit:before {
    content: "\ea35";
}
.icon-document:before {
    content: "\ea36";
}
.icon-document-delete:before {
    content: "\ea37";
}
.icon-document-add:before {
    content: "\ea38";
}
.icon-brush:before {
    content: "\ea39";
}
.icon-thumbs-up:before {
    content: "\ea3a";
}
.icon-thumbs-down:before {
    content: "\ea3b";
}
.icon-pen:before {
    content: "\ea3c";
}
.icon-sort-numerically-outline:before {
    content: "\ea3d";
}
.icon-sort-alphabetically-outline:before {
    content: "\ea3e";
}
.icon-social-last-fm-circular:before {
    content: "\ea3f";
}
.icon-social-github-circular:before {
    content: "\ea40";
}
.icon-compass:before {
    content: "\ea41";
}
.icon-bookmark:before {
    content: "\ea42";
}
.icon-input-checked-outline:before {
    content: "\ea43";
}
.icon-code-outline:before {
    content: "\ea44";
}
.icon-calender-outline:before {
    content: "\ea45";
}
.icon-business-card:before {
    content: "\ea46";
}
.icon-arrow-up:before {
    content: "\ea47";
}
.icon-arrow-sync-outline:before {
    content: "\ea48";
}
.icon-arrow-right2:before {
    content: "\ea49";
}
.icon-arrow-repeat-outline:before {
    content: "\ea4a";
}
.icon-arrow-loop-outline:before {
    content: "\ea4b";
}
.icon-arrow-left2:before {
    content: "\ea4c";
}
.icon-flow-switch:before {
    content: "\ea4d";
}
.icon-flow-parallel:before {
    content: "\ea4e";
}
.icon-flow-merge:before {
    content: "\ea4f";
}
.icon-document-text:before {
    content: "\ea50";
}
.icon-clipboard:before {
    content: "\ea51";
}
.icon-calculator:before {
    content: "\ea52";
}
.icon-arrow-minimise-outline:before {
    content: "\ea53";
}
.icon-arrow-maximise-outline:before {
    content: "\ea54";
}
.icon-arrow-down:before {
    content: "\ea55";
}
.icon-gift:before {
    content: "\ea56";
}
.icon-film:before {
    content: "\ea57";
}
.icon-database:before {
    content: "\ea58";
}
.icon-bell2:before {
    content: "\ea59";
}
.icon-anchor-outline:before {
    content: "\ea5a";
}
.icon-adjust-contrast:before {
    content: "\ea5b";
}
.icon-world-outline:before {
    content: "\ea5c";
}
.icon-shopping-bag2:before {
    content: "\ea5d";
}
.icon-power-outline:before {
    content: "\ea5e";
}
.icon-notes-outline:before {
    content: "\ea5f";
}
.icon-device-tablet:before {
    content: "\ea60";
}
.icon-device-phone:before {
    content: "\ea61";
}
.icon-device-laptop:before {
    content: "\ea62";
}
.icon-device-desktop:before {
    content: "\ea63";
}
.icon-briefcase:before {
    content: "\ea64";
}
.icon-stopwatch:before {
    content: "\ea65";
}
.icon-spanner-outline:before {
    content: "\ea66";
}
.icon-puzzle-outline:before {
    content: "\ea67";
}
.icon-printer:before {
    content: "\ea68";
}
.icon-pi-outline:before {
    content: "\ea69";
}
.icon-lightbulb:before {
    content: "\ea6a";
}
.icon-flag-outline:before {
    content: "\ea6b";
}
.icon-contacts:before {
    content: "\ea6c";
}
.icon-archive:before {
    content: "\ea6d";
}
.icon-weather-stormy:before {
    content: "\ea6e";
}
.icon-weather-shower:before {
    content: "\ea6f";
}
.icon-weather-partly-sunny:before {
    content: "\ea70";
}
.icon-weather-downpour:before {
    content: "\ea71";
}
.icon-weather-cloudy:before {
    content: "\ea72";
}
.icon-plane-outline:before {
    content: "\ea73";
}
.icon-phone-outline:before {
    content: "\ea74";
}
.icon-microphone-outline:before {
    content: "\ea75";
}
.icon-weather-windy:before {
    content: "\ea76";
}
.icon-weather-windy-cloudy:before {
    content: "\ea77";
}
.icon-weather-sunny:before {
    content: "\ea78";
}
.icon-weather-snow:before {
    content: "\ea79";
}
.icon-weather-night:before {
    content: "\ea7a";
}
.icon-media-stop-outline:before {
    content: "\ea7b";
}
.icon-media-rewind-outline:before {
    content: "\ea7c";
}
.icon-media-record-outline:before {
    content: "\ea7d";
}
.icon-media-play-outline:before {
    content: "\ea7e";
}
.icon-media-fast-forward-outline:before {
    content: "\ea7f";
}
.icon-media-eject-outline:before {
    content: "\ea80";
}
.icon-wine:before {
    content: "\ea81";
}
.icon-waves-outline:before {
    content: "\ea82";
}
.icon-ticket:before {
    content: "\ea83";
}
.icon-tags:before {
    content: "\ea84";
}
.icon-plug:before {
    content: "\ea85";
}
.icon-headphones:before {
    content: "\ea86";
}
.icon-credit-card:before {
    content: "\ea87";
}
.icon-coffee:before {
    content: "\ea88";
}
.icon-book:before {
    content: "\ea89";
}
.icon-beer:before {
    content: "\ea8a";
}
.icon-volume:before {
    content: "\ea8b";
}
.icon-volume-up:before {
    content: "\ea8c";
}
.icon-volume-mute:before {
    content: "\ea8d";
}
.icon-volume-down:before {
    content: "\ea8e";
}
.icon-social-vimeo-circular:before {
    content: "\ea8f";
}
.icon-social-twitter-circular:before {
    content: "\ea90";
}
.icon-social-pinterest-circular:before {
    content: "\ea91";
}
.icon-social-linkedin-circular:before {
    content: "\ea92";
}
.icon-social-facebook-circular:before {
    content: "\ea93";
}
.icon-social-dribbble-circular:before {
    content: "\ea94";
}
.icon-tree:before {
    content: "\ea95";
}
.icon-thermometer:before {
    content: "\ea96";
}
.icon-social-tumbler-circular:before {
    content: "\ea97";
}
.icon-social-skype-outline:before {
    content: "\ea98";
}
.icon-social-flickr-circular:before {
    content: "\ea99";
}
.icon-social-at-circular:before {
    content: "\ea9a";
}
.icon-shopping-cart:before {
    content: "\ea9b";
}
.icon-messages:before {
    content: "\ea9c";
}
.icon-leaf:before {
    content: "\ea9d";
}
.icon-feather:before {
    content: "\ea9e";
}

