form{
	.form-input {
		height: 37px;
		line-height: 37px;
		@include border-radius(8px);
		border: 2px solid $gray-extralight;
		@include transition(0.8s);
		font-size: 14px;
		font-family: 'latoSemibold';
		color: $blue-dark;
		&:focus {
			border-color:#11B798;
			outline:none;
		}
		margin:0;
	}
	.form-input-right {
		border-radius: 0px;
		@include single-border-radius(8px, top, right);
		@include single-border-radius(8px, bottom, right);
	}
	.form-input-left {
		border-radius: 0px;
		@include single-border-radius(8px, top, left);
		@include single-border-radius(8px, bottom, left);
	}
	.form-submit {
		padding: 0 10px;
		font-size: 14px;
		color: #fff;
		margin-left: -6px;
		position: relative;
		bottom: 1px;
		border: none;
		height: 37px;
	}
}