.sidebar {
	background-color: $theme-dark-color;
	position: fixed;
	height: 100%;
}

.line-sidebar {
	border: none;
	border-bottom: 2px solid $theme-dark-color-shadow;
	margin-bottom: 0;
}

.selected {
	background-color: $theme-dark-color-shadow;
	i, a, span {
		color: #fff!important;
	}
	border-left-width:3px;
	border-left-style:solid;
	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		right: 0px;
		bottom: -3px;
		border-style: solid;
		border-width: 3px 3px 0 0;
		border-color: $theme-dark-color-shadow transparent transparent transparent;
	}
}

.sidebar-item {
	margin: 0;
	display: block;
	cursor: pointer;
	padding: 12px 0;
	i, a {
		color: $gray-contrast;
		@include transition(none);
	}
	span {
		color: $gray-contrast;
	}
	&:hover {
		background-color:$theme-dark-color-shadow;
		i, a, span {
			color: #fff;
		}
		border-left-width:3px;
		border-left-style:solid;
		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			right: 0px;
			bottom: -3px;
			border-style: solid;
			border-width: 3px 3px 0 0;
			border-color: $theme-dark-color-shadow transparent transparent transparent;
		}
	}
	i {
		margin: 0 5px;
	}
}

.sidebar-bottom {
	position: absolute;
	bottom: 0;
	.sidebar-icon-cont {
		border-right: 1px solid $theme-dark-color-shadow;
	}
	i {
		color: $gray-contrast;
		&:hover {
			color:#fff;
		}
	}
}

.sidebar-top {
	i {
		color: $gray-contrast;
	}
	table {
		td {
			padding: 4px 0;
		}
	}
}

.sidebar-table {
	z-index: 200;
	td {
		background-color: $theme-dark-color; 
		width: 25%;
		border: 3px solid $theme-dark-color-shadow;
		border-top: none;
		text-align: center;
		&:hover {
			background-color: $theme-dark-color-shadow;
			i {
				@include transition(none);
				color: #fff;
			}
		}
	}
}

.sidebar-activity {
	overflow: scroll;
	max-height: 40%;
	h5, h6 {
		margin: 5px 4px;
	}
	scrollbar-face-color: $theme-dark-color-shadow;
	scrollbar-track-color: $gray-normal;
	scrollbar-highlight-color: $gray-normal;
	scrollbar-arrow-color: $gray-normal;

	&::-webkit-scrollbar {
		width: 5px;
		background-color: $theme-dark-color-shadow;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $gray-normal;
	}

}

.sidebar-activity-feed {
	margin: 3px 0;
	border-left-width: 3px;
	border-left-style: solid;
	cursor: pointer;
	&:hover {
		h6{
			color:#fff;
		}
	}
}

.sidebar-divider {
	border-bottom: 1px solid $theme-dark-color-shadow;
}



.sidebar-divider-shadow {
	-webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.75);
}






