body {
	font-family: $font_lato, sans-serif;
	color: $theme-font-color;
}

@each $lato_family, $font_name in $lato_family {
	$style-name: nth($font_name, 1);
	$file: nth($font_name, 2);
	$family: nth($font_name, 3);
	$category: nth($font_name, 4);
	@include font-face($style-name, $file, $family, $category);
}

@each $lato_family, $font_name in $lato_family {
	$style-name: nth($font_name, 1);
	.text-#{$lato_family} {
		font-family: "#{$style-name}", sans-serif;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $theme-font-headers-color;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-gray-contrast {
    color: $gray-contrast;
}

.text-gray-extralight {
    color: $gray-extralight;
}

.text-gray-light {
    color: $gray-light;
}

.text-gray-normal {
    color:$gray-normal;
}

.text-gray-dark {
    color:$gray-dark;
}

.text-blue {
    color: $blue;
}

.text-blue-dark {
    color: $blue-dark;
}

.text-white {
    color: $white;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

a {
	text-decoration: none;
	color: $anchor-tag-color;
	text-decoration: none;
	margin: 3px 0;
	@include font-size(15px);
	&:hover {
		color: $anchor-tag-hover-color;
	}
}





