@font-face {
    font-family: 'farrayregular';
    src: url('farray-webfont.eot');
    src: url('farray-webfont.eot?#iefix') format('embedded-opentype'),
         url('farray-webfont.woff2') format('woff2'),
         url('farray-webfont.woff') format('woff'),
         url('farray-webfont.ttf') format('truetype'),
         url('farray-webfont.svg#farrayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.farray {
	font-family: 'farrayregular', helvetica;
}