@function opacity($color, $opacity) {
	@return rgba($color, $opacity);
}

// Add value to list in first Position
@function prepend($list, $value) {
	@return join($value, $list);
}

// Add value to list in last Position
@function append($list, $value) {
	@return join($list, $value);
}


// Insert an item in the Nth position of list
@function insert-nth($list, $index, $value) {
  $result: null;
      
  @if type-of($index) != number {
    @warn "$index: #{quote($index)} is not a number for `insert-nth`.";
  }

  @else if $index < 1 {
    @warn "List index 0 must be a non-zero integer for `insert-nth`";
  }

  @else if $index > length($list) {
    @warn "List index is #{$index} but list is only #{length($list)} item long for `insert-nth'.";
  }

  @else {
    $result: ();
        
    @for $i from 1 through length($list) {
      @if $i == $index {
        $result: append($result, $value);
      }

      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}



// Replace Item in List
@function replace($list, $old-value, $new-value, $recursive: false) {
  $result: ();

  @for $i from 1 through length($list) {
    @if type-of(nth($list, $i)) == list and $recursive {
      $result: append($result, replace(nth($list, $i), $old-value, $new-value, $recursive));
    }

    @else {
      @if nth($list, $i) == $old-value {
        $result: append($result, $new-value);
      }

      @else {
        $result: append($result, nth($list, $i));
      }
    }
  }

  @return $result;
}

// Replace the Nth item in the list
@function replace-nth($list, $index, $value) {
  $result: null;
      
  @if type-of($index) != number {
    @warn "$index: #{quote($index)} is not a number for `replace-nth`.";
  }

  @else if $index == 0 {
    @warn "List index 0 must be a non-zero integer for `replace-nth`.";
  }
      
  @else if abs($index) > length($list) {
    @warn "List index is #{$index} but list is only #{length($list)} item long for `replace-nth`.";
  }

  @else {
    $result: ();
    $index: if($index < 0, length($list) + $index + 1, $index);  

    @for $i from 1 through length($list) {
      @if $i == $index {
        $result: append($result, $value);
      }
    
      @else {
        $result: append($result, nth($list, $i));
      }
    }
  }
 
  @return $result;
}

// Remove item from List
@function remove($list, $value, $recursive: false) {
  $result: ();

  @for $i from 1 through length($list) {
    @if type-of(nth($list, $i)) == list and $recursive {
      $result: append($result, remove(nth($list, $i), $value, $recursive));
    }

    @else if nth($list, $i) != $value {
      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}

//Get Column Width from GRID SYSTEM
@function get_column_width($num_col, $margin, $col_number) {
	@if $col_number == 1 {
		@return (((100 - (($num_col - 1) * $margin)) / $num_col) * $col_number) / 100;
	} @else if $col_number == $num_col {
		@return 1;
	} @else {
		@return ((((100 - (($num_col - 1) * $margin)) / $num_col) * $col_number) + ($margin * ($col_number - 1))) / 100;
	}
}

// GET Media Query Identifier
@function mq_indentifier($item) {
	@if $item == xs {
		@return XS; 
	} @else if $item == s {
		@return S; 
	} @else if $item == m {
		@return M;
	} @else if $item == l {
		@return L;
	} @else if $item == xl {
		@return XL;
	}
}


// Check if is INT
@function is-int($number) {
  @return type-of($number) == number and floor(abs($number)) == abs($number);
}

// Check if is float
@function is-float($value) {
  @return type-of($value) == number and floor(abs($value)) != abs($value);
}

// CALCULATE REM
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

// White
@function black($opacity){
    @return rgba(0,0,0,$opacity)
}

// Black
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}

@function get-opp-dir($dir) {
  @if $dir == top {
    @return bottom;
  } @else if $dir == bottom {
    @return top;
  } @else if $dir == left {
    @return right;
  } @else if $dir == right {
    @return left;
  }
}