// Media Queries Breakpoints
$breakpoint-extra-small: 0px;
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 980px;
$breakpoint-extra-large: 1200px;

// Font Variables

$font_lato: 'latoRegular';
$font_lato_bold: 'latoBold';
$font_lato_light: 'latoLight';
$font-header-weight: 800;
$font-alert-weight:800;
$font-color: #222;
$font-fallback: sans-serif;
$gray-extralight: #C5CAD0;
$gray-contrast: #9B9B9B;
$gray-light: #808080;
$gray-normal:#6D6E70;
$gray-dark:#333;
$blue: #33495F;
$blue-dark: #23282c;
$white: #fff;



$lato_family : (
	black : (latoBlack, lato-black-webfont, lato, $font-fallback),
	blackItalic : (latoBlackItalic, lato-blackitalic-webfont, lato, $font-fallback),
	bold : (latoBold, lato-bold-webfont, lato, $font-fallback),
	boldItalic : (latoBoldItalic, lato-bolditalic-webfont, lato, $font-fallback),
	hairline : (latoHairline, lato-hairline-webfont, lato, $font-fallback),
	hairlineItalic : (latoHairlineItalic, lato-hairlineitalic-webfont, lato, $font-fallback),
	heavy : (latoHeavy, lato-heavy-webfont, lato, $font-fallback),
	heavyItalic : (latoHeavyItalic, lato-heavyitalic-webfont, lato, $font-fallback),
	light : (latoLight, lato-light-webfont, lato, $font-fallback),
	lightItalic : (latoLightItalic, lato-lightitalic-webfont, lato, $font-fallback),
	medium : (latoMedium, lato-medium-webfont, lato, $font-fallback),
	mediumItalic : (latoMediumItalic, lato-mediumitalic-webfont, lato, $font-fallback),
	semiBold : (latoSemiBold, lato-semibold-webfont, lato, $font-fallback),
	semiBoldItalic : (latoSemiBoldItalic, lato-semibolditalic-webfont, lato, $font-fallback),
	thin : (latoThin, lato-thin-webfont, lato, $font-fallback),
	thinItalic : (latoThinItalic, lato-thinitalic-webfont, lato, $font-fallback),
	italic : (latoItalic, lato-italic-webfont, lato, $font-fallback),
	regular : (latoRegular, lato-regular-webfont, lato, $font-fallback)
);

// GRID

$grid-columns: 12;
$grid-min-height: 1px;
$grid-margin-right: 2;
$grid-margin: 0 #{$grid-margin-right}% 1% 0;
$grid-display: block;
$grid-position:relative;
$grid-sizes: xs, s, m, l, xl;


// COLORS

$small_palette: (
	mandy : (#F1826A, #D3624E),
	ruby : (#F16260, #d34645),
	burgundy : (#F05B4B, #DD4A40),
	crimson : (#EA3339, #D32936),
	goron : (#CD2F40, #B21F2D),
	flame : (#CF2028, #B21F24),

	tan : (#F6BE37, #D7A128),
	carrot : (#F3B24F, #F3962E),
	apricot : (#EE974D, #D67E3C),
	tango : (#ED952D, #D27E28),
	cognac : (#E77E24, #D26927),
	hawaii : (#D35628, #C14827),

	champagne : (#EEE492, #E2D481),
	zeus : (#F2EE8A, #E8DD5A),
	sunflower : (#F9D159, #E0B549),
	goldy : (#FBD142, #E7B72E),
	confetti : (#F6C75C, #DDAB45),
	triforce : (#E6B721, #CC9C2B),

	laser : (#A3FC99, #78EF67),
	lime : (#5FBF8C, #469D6F),
	turtle : (#48B86C, #15AE5E),
	emerald : (#11B798, #1CA284),
	hunter : (#109462, #008253),
	zuccini : (#0D703A, #034C26),

	baby : (#65CCED, #52B8D2),
	seagull : (#7BA6D8, #5F8DBA),
	lagoon : (#3097D3, #2981BC),
	mariner : (#218CBA, #0E779B),
	iris : (#5582C2, #37669C),
	storm : (#34495D, #2B3E4F),

	ocarina : (#A899C3, #8C7EA9),
	robin : (#B07AB3, #A95CA4),
	biloba : (#9D539C, #884088),
	wisteria : (#9466AB, #7B5498),
	grape : (#775BA3, #5E478E),
	deluge : (#432D65, #211541),

	veronica : (#F089B8, #D36A9F),
	gum : (#EB64A0, #DB5595),
	carissma : (#F17C7E , #D8666C),
	myrtle : (#F06C7B, #DD5B6E),
	passion : (#EE4E67, #DB3F5E),
	persian : (#EA4B6F , #D33C63),

	lion : (#F2D8A6, #DCBE8D),
	almond : (#F0D3B0, #D1B38E),
	maize : (#DEBB89 , #B79168),
	cocoa : (#DCB172, #C89B60),
	ronchi : (#F4AF6D, #D7935A),
	mandalay : (#BEAE7F , #A79569),

	beaver : (#A28F85, #75706C),
	ochre : (#A68673, #937160),
	walnut : (#97765D , #82644E),
	tobacco : (#765038, #704630),
	dirt : (#73513C, #684736),
	coffee : (#5F4130 , #513426),

	lilly : (#DBC5E0, #C1AFC6),
	polar : (#D3EEF5, #C3DCE2),
	madang : (#E1EED5 , #C9D6BA),
	sand : (#F4F4BC, #DBD9A5),
	azalea : (#F8C3C3, #DBA5A5),
	calico : (#F58A61 , #F58A61),

	gallery : (#ECECED, #D6D6D7),
	westar : (#D1D2D4, #C1BFBF),
	bitter : (#BCC2C6 , #AAAFB2),
	quartz : (#BFBEBE, #AAAAAA),
	onyx : (#6C7B89, #5E6C77),
	orca : (#303436 , #131517)
);

$social_palette: (
	facebook: (#4e7cbe, #3365a0),
	twitter: (#63ccf0, #51b1cb),
	instagram: (#a38f85, #87736b),
	youtube: (#f16262, #c94a4b),
	googleplus: (#faac48, #d78a35),
	pinterest: (#f16262, #c94a4b),
	dribbble: (#d779a7, #b8638f),
	mail: (#cdcccb, #a4a4a4),
	github: (#4d4f54, #3c3e42),
	vimeo: (#86d2df, #6cb9c1),
	soundcloud: (#f4af6d, #d79258),
	skype: (#3bc3f2, #26a9cb),
	paypal: (#1bb89a, #12a086),
	windows: (#774f38, #5a3425),
	yahoo: (#b27ab4, #905a93),
	linkedin: (#4bb96e, #32914d)
);


// THEMES

// DEFAULT THEME
$theme-background: #e9ecee;
$theme-font-color: #808080;
$theme-font-headers-color: #333;

$anchor-tag-color: #6D6E70;
$anchor-tag-hover-color: #333;

$theme-dark-color: #34495D;
$theme-dark-color-shadow:#2B3E4F;


















