{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}


<div id="creardireccion">
	<div class="cont60">
	<div class="grid-12-xs contdir last">
			<i class="icon-times" id="closedirecciones"></i>
			<h2>Crear Dirección</h2>
			<hr class="hrlight">
			<div class="cont90 text-left">
				<form action="" method="post">
					<p>Ciudad</p>
					<label class="select">
						<select name="ciudad">
							<option value="Bogotá">Bogotá</option>
						</select>
					</label>
					<p>Ciudad</p>
					<input type="text" name="barrio" placeholder="Barrio" required>
					<p>Dirección</p>
					<input type="text" name="direccion" placeholder="Dirección" class="marginbottom" required>
					<input type="submit" value="Crear Dirección">
				</form>
			</div>
		</div>
	</div>
</div>


<div class="grid-12-xs last maincontent">
	<div class="cont95">
		<div class="grid-12-xs last checkout">

			{% if content == 'carrito' %}
			
				<!-- PRODUCTOS CARRITO -->
				<div class="grid-12-xs last">
					<div class="cont95">
						<h1>TU CARRITO</h1>
					</div>

					{% if cart|length > 0 %}

						<hr class="hrlight">
						{% set i = 0 %}
						{% for item in cart %}
						   	<div class="grid-12-xs checkoutdiv last">
							   	<div class="cont95">
							   		<div class="grid-2-m">
							   			<img src="/public/img/{{ modelos_pro[i].img }}">
							   		</div>
							   		<div class="grid-5-m refcheckout text-center">
							   			<a href="/producto/{{ productos[i].url }}">{{ item['nombre'] }}</a><br>
							   			<a href="/shop/{{ productos[i].categoria }}">{{ productos[i].categoria|capitalize|replace({'-': ' '}) }}</a> 
							   			<span>|</span>
							   			<a href="/shop/{{ productos[i].categoria }}/{{ productos[i].sub_categoria }}">{{ productos[i].sub_categoria|capitalize|replace({'-': ' '}) }}</a>
							   		</div>
							   		<div class="grid-2-m">
							   			<span class="cantidad cantidadcheckout" value="{{ item['cantidad'] }}">{{ item['cantidad'] }}
											<i class="icon-plus2 pluscantcheckout" modelo="{{ item['modelo'] }}" sku="{{ item['sku'] }}" precio="{{ item['precio'] }}"></i>
											<i class="icon-minus minuscantcheckout" modelo="{{ item['modelo'] }}" sku="{{ item['sku'] }}" precio="{{ item['precio'] }}"></i>
										</span>
							   		</div>
							   		<div class="grid-2-m text-center">
							   			<span class="preciobig">${{ item['precio']|number_format }}</span>
							   		</div>
							   		<div class="grid-1-m text-center last">
							   			<i class="icon-times deleteproducto" minus="{{ item['cantidad'] * item['precio'] }}" ref="{{ item['sku'] }}||{{ item['modelo'] }}"></i>
							   		</div>
							   	</div>
						   	</div> 
						   	<div class="grid-12-xs last">
						   		<hr class="hrlight">
						   	</div>
						   	{% set i = i + 1 %}
						{% endfor %}

						<div class="grid-12-xs last text-right">
							<div class="cont95">
								<p id="totalcheckout" precio="{{ cart_total }}">TOTAL: <span class="text-light">${{cart_total|number_format}}</span></p>
							</div>
							<hr class="hrlight">
						</div>

						<div class="grid-12-xs last text-center">
							<div class="cont95">
								<a href="/checkout/informacion" class="btncheck">CHECKOUT</a>
							</div>
						</div>

					{% else %}

						<div class="grid-12-xs last">
							<div class="cont95">
								<p>Tu carrito esta vacio</p>
								<a href="/shop" class="btnred marginbottom">Agrega algo ya!</a>
							</div>
						</div>

					{% endif %}

				</div>

			{% else %}

				<div class="grid-12-xs last">
					<div class="cont95">
						<form action="/pedido" method="post" class="form grid-12-xs last">

							<input name="merchantId"    type="hidden"  value="{{payu_merchant_id}}"   >
							<input name="accountId"     type="hidden"  value="{{payu_account_id}}" >
							<input name="description"   type="hidden"  value="Test PAYU">
							<input name="referenceCode" type="hidden"  value="{{payu_reference_code}}" >
							<input name="amount"        type="hidden"  value="{{payu_amount}}" >
							<input name="tax"           type="hidden"  value="0">
							<input name="taxReturnBase" type="hidden"  value="0">
							<input name="currency"      type="hidden"  value="{{payu_currency}}" >
							<input name="signature"     type="hidden"  value="{{payu_signature}}"  >
							<input name="test"          type="hidden"  value="1">
							<input name="responseUrl"    type="hidden"  value="http://www.test.com/response" >
							<input name="confirmationUrl"    type="hidden"  value="http://www.test.com/confirmation">
						  	<input name="shippingCountry" type="hidden" value="CO" >
						  	<input name="envio" type="hidden" value="7000">


							<div class="grid-6-m marginbottom">
								<p class="karla-bold"><span class="numbercircle">1</span> FACTURA TOTAL</p>
								<table class="text-center">
									<tr>
										<th>CONCEPTO</th>
										<th>VALOR</th>
									</tr>
									<tr>
										<td class="tddark">VALOR TOTAL</td>
										<td class="tddark">${{cart_total|number_format}}</td>
									</tr>
									<tr>
										<td>VALOR ENVÍO</td>
										<td>${% if cart_total > 59999 %} 0 {% else %} 7,000 {% endif %}</td>
									</tr>
									<tr>
										<td class="tddark">DESCUENTO</td>
										<td class="tddark">$0</td>
									</tr>
									<tr>
										<td>VALOR TOTAL CON ENVÍO</td>
										<td>${% if cart_total > 59999 %} {{cart_total|number_format}} {% else %} {{ (cart_total + 7000)|number_format }} {% endif %}</td>
									</tr>
								</table>
							</div>
							<div class="grid-6-m marginbottom last">
								<p class="karla-bold"><span class="numbercircle">2</span> DIRECCIÓN DE ENVÍO</p>
						
								{% if isLoggedIn %} 

									<span class="creardireccion"><i class="icon-location-outline"></i> CREAR DIRECCIÓN</span>

									{% if direcciones|length > 0 %} 
										{% set co = 0 %}
										{% for direccion in direcciones %}
							
											<div class="grid-4-m marginbottom {% if co % 3 == 2 %} last {% endif %}">
												<div class="cont90">
													<div class="grid-12-xs direccion {% if co == 0 %} direccionsel {% endif %} last" ciudad="{{ direccion.ciudad }}" barrio="{{ direccion.barrio }}" direccion="{{ direccion.direccion }}">
														<span>{{ direccion.direccion }}</span>
														<span>{{ direccion.barrio }}</span>
														<span>{{ direccion.ciudad }}</span>
													</div>
												</div>
											</div>

											<input type="hidden" name="shippingCity" value="{{ direcciones[0].ciudad }}" required id="inputciudad">
											<input type="hidden" name="shippingAddress" value="{{ direcciones[0].direccion }}" required id="inputdireccion">
											<input type="hidden" name="zipCode" value="{{ direcciones[0].barrio }}" required id="inputbarrio">
											

										{% set co = co + 1 %}
										{% endfor %}

									{% else %}

										<p>No tienes direcciones guardadas! Crea una para acelerar tu checkout en futuras compras! :)</p>

									{% endif %}

								{% else %}
								
									<p>CIUDAD</p>
									<label class="select">
										<select name="shippingCity">
											<option value="bogota">Bogotá</option>
										</select>
									</label>
									<p>BARRIO</p>
									<input class="margin0" type="text" name="zipCode" placeholder="INGRESA TU BARRIO" required>
									<p>DIRECCIÓN</p>
									<input class="margin0" type="text" name="shippingAddress" placeholder="INGRESA TU DIRECCIÓN" required>

								{% endif %}
								
							</div>
							<div class="grid-6-m">
								<p class="karla-bold"><span class="numbercircle">3</span> INFO GENERAL</p>
							</div>
							<div class="grid-6-m last text-right">
								<a class="crearperfil" href="/perfil">Crea tu perfil y guarda tus direcciones!</a>
							</div>
							<div class="grid-6-m marginbottom">
								<p>NOMBRE COMPLETO</p>
								<input type="text" name="buyerFullName" placeholder="INGRESA TU NOMBRE COMPLETO" required>
								<p>TELEFONO</p>
								<input type="text" name="payerPhone" placeholder="INGRESA TU TELEFONO" required>
							</div>
							<div class="grid-6-m last marginbottom">
								<p>EMAIL</p>
								<input type="email" name="buyerEmail" placeholder="INGRESA TU EMAIL" value="{% if isLoggedIn %} {{user_data.email}} {% endif %}" required>
								<p>CELULAR</p>
								<input type="text" name="payerMobilePhone" placeholder="INGRESA TU CELULAR" required>
							</div>
							<div class="grid-12-m last">
								<p class="karla-bold"><span class="numbercircle">4</span> PROMOCIONES Y BONOS (OPCIONALES)</p>
							</div>
							<div class="grid-6-m">
								<p>PROMOCIÓN</p>
								<input type="text" name="extra1" placeholder="INGRESA TU CÓDIGO PROMOCIONAL">
							</div>
							<div class="grid-6-m last text-left">
								<p>BONO</p>
								<input type="text" name="extra2" placeholder="INGRESA EL CÓDIGO DE TU BONO">
							</div>
							<div class="grid-12-xs last">
								<input type="submit" value="PAGAR">
							</div>
						</form>

					</div>
				</div>

			{% endif %}
			
		</div>

		<!-- PRODUCTOS DESTACADOS -->
		    <div class="grid-12-xs destacados last">
		        <div class="cont95">
		            <div class="grid-12-m">
		                <h3 class="farray">Otros de tu interés</h3>
		            </div>
		            <div class="grid-12-xs last">

		            	{% set i = 0 %}
						{% for prod in otros_productos %}
						{% set sku = prod.sku %}

			            <div class="grid-3-m text-center producto {% if i % 4 == 3 %} last {% endif %}">
			                <span id="prod{{ prod.sku }}" class="precio addfast" model="{{ otros_modelos[prod.sku][0].id }}" sku="{{ prod.sku }}">${{ prod.precio|number_format }} <span class="addfastcart icon-shopping-cart"></span> </span>
			                <div class="cont90">
			                    <a href="/producto/{{ prod.url }}"><img id="img{{ prod.sku }}" src="/public/img/{{ otros_modelos[sku][0].img }}"></a>
			                    <div class="text-center colorsdiv grid-12-xs last">
			                    	{% set j = 0 %}
			                    	{% for item in otros_modelos[sku] %}
			                    		{% if item.color2 == 'None' %}
			                    		    <span id="{{ item.id }}" sku="{{ item.sku }}" img="{{ item.img }}" class="choosecolor color {% if j == 0 %} coloroutline {% endif %}" style="background-color:{{ item.color1 }};"></span>
			                    		{% else %}
			                    		    <span id="{{ item.id }}" img="{{ item.img }}" sku="{{ item.sku }}" class="choosecolor color {% if j == 0 %} coloroutline {% endif %} ">
			                    		    	<div class="grid50" style="background-color:{{ item.color1 }};"></div>
			                    		    	<div class="grid50" style="background-color:{{ item.color2 }};"></div>
			                    		    </span>
			                    		{% endif %}
			                    		{% set j = j + 1 %}
			                    	{% endfor %}   
			                    </div>
			                    <a href="/producto/{{ prod.url }}" class="text-uppercase karla-bold">{{prod.nombre}}</a><br>
			                    <a class="cate" href="/shop/{{prod.categoria}}">{{ prod.categoria|capitalize|replace({'-': ' '}) }}</a> 
			                    <span> | </span>
			                    <a class="cate" href="/shop/{{prod.categoria}}/{{prod.sub_categoria}}">{{ prod.sub_categoria|capitalize|replace({'-': ' '}) }}</a>
			                </div>
			            </div>

			            {% if i % 4 == 3 %} 
			                </div><div class="grid-12-xs last"> 
			            {% endif %}

			            {% set i = i + 1 %}
			        {% endfor %}
		            </div>
		        </div>
		    </div>

	</div>
</div>

{{ include('inc/_footer.twig') }}