{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

<div class="grid-12-xs last maincontent">

	<div class="cont90">
		<h1 class="tituloconacto text-center">ERES MUY IMPORTANTE PARA NOSOTROS.<br>NOS PONDREMOS EN CONTACTO LO MÁS PRONTO POSIBLE.</h1>
		
		<form class="grid-12-xs last" method="post">
			<div class="grid-6-m">
				<p>NOMBRE</p>
				<input type="text" name="nombre" required placeholder="INGRESA TU NOMBRE">
				<p>TELEFONO</p>
				<input type="text" name="telefono" required placeholder="INGRESA TU TELEFONO">
			</div>
			<div class="grid-6-m last">
				<p>APELLIDO</p>
				<input type="text" name="apellido" required placeholder="INGRESA TU APELLIDO">
				<p>EMAIL</p>
				<input type="text" name="email" required placeholder="INGRESA TU EMAIL">
			</div>
			<div class="grid-12-xs last">
				<p>MENSAJE</p>
				<textarea rows="6" required placeholder="INGRESA TU MENSAJE"></textarea>
			</div>
			<input type="submit" value="ENVIAR MENSAJE">
		</form>

	</div>

</div>

{{ include('inc/_footer.twig') }}