{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

<div class="grid-12-xs last maincontent">

    <!-- MAIN SLIDER -->
    <div class="grid-12-xs last slidermain">
        <div class="text-center cont60">
            <h1 class="farray bigtitle">BODEGARIO</h1>
            <h2 class="text-uppercase">Mejores Precios <br> en la <span class="text-red text-underline">comodidad de tu casa</span></h2>
            <a href="/shop" class="btnbig karla-bold btn-red">IR A LA TIENDA</a>
        </div>
        <div class="owl-carousel owl-theme">
            {% for item in main_slider %}
                <div><img src="{{ item }}"></div>
            {% endfor %}
        </div>
    </div>

    <!-- PRODUCTOS DESTACADOS -->
    <div class="grid-12-xs destacados last">
        <div class="cont95">
            <div class="grid-6-m">
                <h3 class="farray">{{ val }} destacados</h3>
            </div>
            <div class="grid-6-m filtros text-right last">
            </div>
            <div class="grid-12-xs last">

                {% for i in range(0, productos_featured|length - 1) %}
                    <div class="grid-3-m text-center producto {% if i % 4 == 3 %} last {% endif %}">
                        <span id="prod{{ productos_featured[i].sku }}" class="precio addfast" model="{{ modelos[productos_featured[i].sku][0].id }}" sku="{{ productos_featured[i].sku }}">${{ productos_featured[i].precio|number_format }} <span class="addfastcart icon-shopping-cart"></span> </span>
                        <div class="cont90">
                           <a href="/producto/{{ productos_featured[i].url }}"><img id="img{{ productos_featured[i].sku }}" src="/public/img/{{ modelos[productos_featured[i].sku][0].img }}"></a>
                            <div class="text-center colorsdiv grid-12-xs last">
                                {% set j = 0 %}
                                {% for item in modelos[productos_featured[i].sku] %}
                                    {% if item.color2 == 'None' %}
                                        <span id="{{ item.id }}" sku="{{ item.sku }}" img="{{ item.img }}" class="choosecolor color {% if j == 0 %} coloroutline {% endif %}" style="background-color:{{ item.color1 }};"></span>
                                    {% else %}
                                        <span id="{{ item.id }}" img="{{ item.img }}" sku="{{ item.sku }}" class="choosecolor color {% if j == 0 %} coloroutline {% endif %} ">
                                            <div class="grid50" style="background-color:{{ item.color1 }};"></div>
                                            <div class="grid50" style="background-color:{{ item.color2 }};"></div>
                                        </span>
                                    {% endif %}
                                    {% set j = j + 1 %}
                                {% endfor %}   
                            </div>
                            <a href="/producto/{{productos_featured[i].url}}" class="text-uppercase karla-bold">{{productos_featured[i].nombre}}</a><br>
                            <a href="/shop/{{productos_featured[i].categoria}}">{{ productos_featured[i].categoria|capitalize|replace({'-': ' '}) }}</a> 
                            <span> | </span>
                            <a href="/shop/{{productos_featured[i].categoria}}/{{productos_featured[i].sub_categoria}}">{{ productos_featured[i].sub_categoria|capitalize|replace({'-': ' '}) }}</a>
                        </div>
                    </div>
                    {% if i % 4 == 3 %} 
                        </div><div class="grid-12-xs last"> 
                    {% endif %}
                {% endfor %}
            </div>
            <div class="grid-12-xs last text-center marginbottom">
                <a href="/shop" class="btnred">Ver Más Productos</a>
            </div>
        </div>
    </div>


</div>

{{ include('inc/_footer.twig') }}