{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

<div class="grid-12-xs last maincontent">
	<div class="cont95">
		<div class="grid-12-xs resumenpedido last">
			<div class="cont95">
				<h2>Resumen del Pedido</h2>
				<form action="{{payu_url}}" method="post">
				<div class="grid-6-m">
					<p>Email: {{buyerEmail}}</p>
					<p>Nombre: {{buyerFullName}}</p>
					<p>Celular: {{payerMobilePhone}}</p>
					<p>Dirección de envío: {{shippingAddress}}</p>
					<p>Barrio: {{zipCode}}</p>
					<p>Ciudad: {{shippingCity}}</p>
					
					<input name="merchantId"    type="hidden"  value="{{merchantId}}"   >
					<input name="accountId"     type="hidden"  value="{{accountId}}" >
					<input name="description"   type="hidden"  value="{{description}}">
					<input name="referenceCode" type="hidden"  value="{{referenceCode}}" >
					<input name="amount"        type="hidden"  value="{{amount_total}}" >
					<input name="tax"           type="hidden"  value="{{tax}}">
					<input name="taxReturnBase" type="hidden"  value="{{taxReturnBase}}">
					<input name="currency"      type="hidden"  value="{{currency}}" >
					<input name="signature"     type="hidden"  value="{{signature}}"  >
					<input name="test"          type="hidden"  value="{{test}}">
					<input name="responseUrl"    type="hidden"  value="{{responseUrl}}" >
					<input name="confirmationUrl"    type="hidden"  value="{{confirmationUrl}}">
				  	<input name="shippingCountry" type="hidden" value="{{shippingCountry}}">
				  	<input name="envio" type="hidden" value="{{envio}}">
					<input type="hidden" name="shippingCity" value="{{ shippingCity}}" required id="inputciudad">
					<input type="hidden" name="shippingAddress" value="{{ shippingAddress }}" required id="inputdireccion">
					<input type="hidden" name="zipCode" value="{{ zipCode }}" required id="inputbarrio">
					<input type="hidden" name="buyerFullName" value="{{buyerFullName}}" required>
					<input type="hidden" name="payerPhone" value="{{payerPhone}}" required>
					<input type="hidden" name="buyerEmail" value="{{buyerEmail}}" required>
					<input type="hidden" name="payerMobilePhone" value="{{payerMobilePhone}}" required>
					<input type="hidden" name="extra1" value="{{extra1}}">
					<input type="hidden" name="extra2" value="{{extra2}}">
				</div>
				<div class="grid-6-m last marginbottom">
						<table class="text-center">
							<tr>
								<th>CONCEPTO</th>
								<th>VALOR</th>
							</tr>
							<tr>
								<td class="tddark">VALOR TOTAL</td>
								<td class="tddark">${{amount|number_format}}</td>
							</tr>
							<tr>
								<td>VALOR ENVÍO</td>
								<td>${{envio|number_format}}</td>
							</tr>
							<tr>
								<td class="tddark">DESCUENTO</td>
								<td class="tddark">{{ (descuento - 1)|number_format}}%</td>
							</tr>
							<tr>
								<td>VALOR TOTAL CON ENVÍO</td>
								<td>${{ amount_total|number_format }}</td>
							</tr>
						</table>
					</div>
					<input type="submit" value="Pagar">
				</div>
			</form>
		</div>
	</div>
</div>

{{ include('inc/_footer.twig') }}