{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

<div id="creardireccion">
	<div class="cont60">
	<div class="grid-12-xs contdir last">
			<i class="icon-times" id="closedirecciones"></i>
			<h2>Crear Dirección</h2>
			<hr class="hrlight">
			<div class="cont90 text-left">
				<form action="/perfil/mi-perfil/direcciones" method="post">
					<p>Ciudad</p>
					<label class="select">
						<select name="ciudad">
							<option value="Bogotá">Bogotá</option>
						</select>
					</label>
					<p>Ciudad</p>
					<input type="text" name="barrio" placeholder="Barrio" required>
					<p>Dirección</p>
					<input type="text" name="direccion" placeholder="Dirección" class="marginbottom" required>
					<input type="submit" value="Crear Dirección">
				</form>
			</div>
		</div>
	</div>
</div>

<div class="grid-12-xs last maincontent">

	{% if accion == 'crear-cuenta' %}

		<div class="cont75">
			<img src="/public/img/login.png">
			<div class="cont30 divlogin">
				<form action="/perfil" method="post">
					<input type="text" name="username" placeholder="Email" class="marginbottom" required>
					<input type="password" name="password" placeholder="Contraseña" class="marginbottom" required>
					<input type="hidden" name="hacer" value="registro">
					<input type="submit" value="CREAR CUENTA">
				</form>
			</div>
		</div>

	{% elseif accion == 'olvide-contrasena' %}

		<div class="cont75">
			<img src="/public/img/login.png">
			<div class="cont30 divlogin">
				<form action="/perfil" method="post">
					<p>Ingresa tu email y te enviamos tu nueva contraseña.</p>
					<input type="text" name="email" placeholder="Email" class="marginbottom" required>
					<input type="hidden" name="hacer" value="password">
					<input type="submit" value="ENVIAR NUEVA CONTRASEÑA">
				</form>
			</div>
		</div>

	{% else %}

		{% if isLoggedIn %}

			<div class="grid-12-xs opcionesperfil last text-center">
				<div class="grid33">
					<a href="/perfil/mi-perfil/direcciones" class="{% if opcion == 'direcciones' %} sel {% endif %}">Direcciones</a>
				</div>
				<div class="grid33">
					<a href="/perfil/mi-perfil/pedidos" class="{% if opcion == 'pedidos' %} sel {% endif %}">Pedidos</a>
				</div>
				<div class="grid33">
					<a href="/perfil/mi-perfil/bonos-y-regalos" class="{% if opcion == 'bonos-y-regalos' %} sel {% endif %}">Bonos y Regalos</a>
				</div>
			</div>

			<div class="grid-12-xs last">
				<div class="cont95">
				<div class="grid-12-xs last margintop text-right">
					<a href="/perfil/logout/logout" class="btnred">Logout</a>
					<a href="" class="btnred">Editar Perfil</a>
				</div>

				{% if opcion == 'direcciones' %}

					<div class="grid-12-xs last marginbottom">
						<span class="creardireccion"><i class="icon-location-outline"></i> CREAR DIRECCIÓN</span>
						{% if direcciones|length > 0 %} 
							{% set co = 0 %}
							{% for direccion in direcciones %}
				
								<div class="grid-4-m marginbottom {% if co % 3 == 2 %} last {% endif %}">
									<div class="cont90">
										<div class="grid-12-xs direccion {% if co == 0 %} direccionsel {% endif %} last" ciudad="{{ direccion.ciudad }}" barrio="{{ direccion.barrio }}" direccion="{{ direccion.direccion }}">
											<span>{{ direccion.direccion }}</span>
											<span>{{ direccion.barrio }}</span>
											<span>{{ direccion.ciudad }}</span>
										</div>
									</div>
								</div>

								<input type="hidden" name="shippingCity" value="{{ direcciones[0].ciudad }}" required id="inputciudad">
								<input type="hidden" name="shippingAddress" value="{{ direcciones[0].direccion }}" required id="inputdireccion">
								<input type="hidden" name="zipCode" value="{{ direcciones[0].barrio }}" required id="inputbarrio">
								

							{% set co = co + 1 %}
							{% endfor %}

						{% else %}

							<p>No tienes direcciones guardadas! Crea una para acelerar tu checkout en futuras compras! :)</p>

						{% endif %}

					</div>

				{% elseif opcion == 'pedidos' %}

					{% if pedidos|length > 0 %} 

						<div class="grid-12-xs whiteback margintop last">
							<div class="cont95">
								{% for pedido in pedidos %}
					    			
					    			<div class="grid-12-xs last">
					    				<p>Pedido Referencia: {{pedido.unique_id}}</p>
					    				<ul>
					    					<li>Número Productos: {{pedido.num_productos}}</li>
					    					<li>Total Pedido: ${{pedido.precio_mas_envio|number_format}}</li>
					    				</ul>
					    				<a href="" class="btnred marginbottom">Ver Pedido</a>
					    				<hr class="hrlight">
					    			</div>

								{% endfor %}
							</div>
						</div>

					{% else %}

						<div class="text-center">
							<h2 class="text-center">No has hecho pedidos aun!</h2>
							<h3 class="text-center">Haz tu primer pedido ahora...</h3>
							<a href="/shop" class="btnred marginbottom">Comprar cosas increíbles</a>
						</div>

					{% endif %}

				{% else %}

					<h2>Proximamente</h2>

				{% endif %}

				</div>
			</div>

		{% else %}

			<div class="cont75">
				<img src="/public/img/login.png">
				<div class="cont30 divlogin">
					{% if message != '' %}
						<h3>{{message}}</h3>
					{% endif %}
					{% if errors|length > 0 %}
						{% for error in errors %}
					    	<div class="alert-red grid-12-xs last">{{ error }}</div>
						{% endfor %}
					{% endif %}
					<form action="/perfil" method="post">
						<input type="text" name="username" placeholder="Email" class="marginbottom" required>
						<input type="password" name="password" placeholder="Contraseña" class="marginbottom" required>
						<input type="hidden" name="hacer" value="login">
						<input type="submit" value="INGRESAR">
					</form>
					<div class="grid-6-xs text-center">
						<a href="/perfil/crear-cuenta">Crear Cuenta</a>
					</div>
					<div class="grid-6-xs text-center last">
						<a href="/perfil/olvide-contrasena">Olvidé Contraseña</a>
					</div>
				</div>
			</div>

		{% endif %}

	{% endif %}

</div>

{{ include('inc/_footer.twig') }}