{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

<div class="grid-12-xs last maincontent">

	<div class="cont95">
		<div class="grid-12-xs last productosencillo prodesktop">
			<div class="cont95">
				<div class="grid-6-m detallesprod">
					<h1 class="karla-bold">{{producto.nombre}}</h1>
					<h2 class="karla-bold">${{producto.precio|number_format}}</h2>
					<p class="text-justify">{{producto.descripcion}}</p>
					<div class="grid-12-xs">
						<div class="grid-3-m grid-6-xs">
							<p class="karla-bold">CANTIDAD</p>
						</div>
						<div class="grid-4-m grid-6-xs last">
							<span class="cantidad" value="1">1
								<i class="icon-plus2 pluscant"></i>
								<i class="icon-minus minuscant"></i>
							</span>
						</div>
					</div>
					<div class="grid-12-xs options last">
						<div class="grid-12-m last">
							<span class="agregar agregarcart karla-bold" cant="1" modelo="{{ modelos[0].id }}" sku="{{ producto.sku }}">AGREGAR</span>
						</div>
					</div>
				</div>
				<div class="grid-6-m socialproducto last">
					<a href="" class="icon-facebook2"></a>
					<a href="" class="icon-twitter2"></a>
					<a href="" class="icon-pinterest"></a>
					<a href="" class="icon-instagram"></a>
					<a href="" class="icon-youtube"></a>
					<p class="font12">Pasa por encima de la imagen para hacer zoom!</p>
					<div class="grid-12-xs last">
						<img class="photo" data-big="/public/img/{{modelos[0].img}}" data-overlay="/public/img/{{modelos[0].img}}" data-big2x="/public/img/{{modelos[0].img}}" id="img{{producto.sku}}" src="/public/img/{{modelos[0].img}}">
					</div>
					<div class="text-center colorsdiv grid-12-xs last">
                    	{% set j = 0 %}
                    	{% for item in modelos %}
                    		{% if item.color2 == 'None' %}
                    		    <span modelo="{{ item.id }}" sku="{{ item.sku }}" img="{{ item.img }}" class="colorbig choosecolor {% if j == 0 %} coloroutline {% endif %}" style="background-color:{{ item.color1 }};"></span>
                    		{% else %}
                    		    <span modelo="{{ item.id }}" img="{{ item.img }}" sku="{{ item.sku }}" class="colorbig choosecolor {% if j == 0 %} coloroutline {% endif %} ">
                    		    	<div class="grid50" style="background-color:{{ item.color1 }};"></div>
                    		    	<div class="grid50" style="background-color:{{ item.color2 }};"></div>
                    		    </span>
                    		{% endif %}
                    		{% set j = j + 1 %}
                    	{% endfor %}   
                    </div>
				</div>
			</div>
		</div>

		<div class="grid-12-xs last productosencillo prodmobile">
			<div class="cont95">
				<div class="grid-12-m text-center detallesprod">
					<div class="grid-12-m socialproducto last">
						<a href="" class="icon-facebook2"></a>
						<a href="" class="icon-twitter2"></a>
						<a href="" class="icon-pinterest"></a>
						<a href="" class="icon-instagram"></a>
						<a href="" class="icon-youtube"></a>
					</div>
					<h1 class="karla-bold">{{producto.nombre}}</h1>
					<h2 class="karla-bold">${{producto.precio|number_format}}</h2>
					<p class="text-justify">{{producto.descripcion}}</p>
					<div class="grid-12-m socialproducto last">
					<img id="img{{producto.sku}}" src="/public/img/{{modelos[0].img}}">
					<div class="text-center colorsdiv grid-12-xs last">
	                    	{% set j = 0 %}
	                    	{% for item in modelos %}
	                    		{% if item.color2 == 'None' %}
	                    		    <span modelo="{{ item.id }}" sku="{{ item.sku }}" img="{{ item.img }}" class="colorbig choosecolor {% if j == 0 %} coloroutline {% endif %}" style="background-color:{{ item.color1 }};"></span>
	                    		{% else %}
	                    		    <span modelo="{{ item.id }}" img="{{ item.img }}" sku="{{ item.sku }}" class="colorbig choosecolor {% if j == 0 %} coloroutline {% endif %} ">
	                    		    	<div class="grid50" style="background-color:{{ item.color1 }};"></div>
	                    		    	<div class="grid50" style="background-color:{{ item.color2 }};"></div>
	                    		    </span>
	                    		{% endif %}
	                    		{% set j = j + 1 %}
	                    	{% endfor %}   
	                    </div>
					</div>
					<div class="grid-12-xs choosecant">
						<div class="grid-3-m cantidadtitle grid-12-xs">
							<p class="karla-bold">CANTIDAD</p>
						</div>
						<div class="grid-4-m grid-12-xs last">
							<span class="cantidad" value="1">1
								<i class="icon-plus2 pluscant"></i>
								<i class="icon-minus minuscant"></i>
							</span>
						</div>
					</div>
					<div class="grid-12-xs options last">
						<div class="grid-12-m last">
							<span class="agregar agregarcart karla-bold" cant="1" modelo="{{ modelos[0].id }}" sku="{{ producto.sku }}">AGREGAR</span>
						</div>
					</div>
				</div>
				
			</div>
		</div>

		<!-- PRODUCTOS DESTACADOS -->
	    <div class="grid-12-xs destacados last">
	        <div class="cont95">
	            <div class="grid-12-m">
	                <h3 class="farray">Otros de tu interés</h3>
	            </div>
	            <div class="grid-12-xs last">

	            	{% set i = 0 %}
					{% for prod in otros_productos %}
					{% set sku = prod.sku %}

		            <div class="grid-3-m text-center producto {% if i % 4 == 3 %} last {% endif %}">
		                <span class="icon-heart-outline favorito"></span>
		                <span class="icon-zoom-in-outline zoom"></span>
		                <span id="prod{{ prod.sku }}" class="precio addfast" model="{{ otros_modelos[prod.sku][0].id }}" sku="{{ prod.sku }}">${{ prod.precio|number_format }} <span class="addfastcart icon-shopping-cart"></span> </span>
		                <div class="cont90">
		                    <a href="/producto/{{ prod.url }}"><img id="img{{ prod.sku }}" src="/public/img/{{ otros_modelos[sku][0].img }}"></a>
		                    <div class="text-center colorsdiv grid-12-xs last">
		                    	{% set j = 0 %}
		                    	{% for item in otros_modelos[sku] %}
		                    		{% if item.color2 == 'None' %}
		                    		    <span id="{{ item.id }}" sku="{{ item.sku }}" img="{{ item.img }}" class="choosecolor color {% if j == 0 %} coloroutline {% endif %}" style="background-color:{{ item.color1 }};"></span>
		                    		{% else %}
		                    		    <span id="{{ item.id }}" img="{{ item.img }}" sku="{{ item.sku }}" class="choosecolor color {% if j == 0 %} coloroutline {% endif %} ">
		                    		    	<div class="grid50" style="background-color:{{ item.color1 }};"></div>
		                    		    	<div class="grid50" style="background-color:{{ item.color2 }};"></div>
		                    		    </span>
		                    		{% endif %}
		                    		{% set j = j + 1 %}
		                    	{% endfor %}   
		                    </div>
		                    <a href="/producto/{{ prod.url }}" class="text-uppercase karla-bold">{{prod.nombre}}</a><br>
		                    <a class="cate" href="/shop/{{prod.categoria}}">{{ prod.categoria|capitalize|replace({'-': ' '}) }}</a> 
		                    <span> | </span>
		                    <a class="cate" href="/shop/{{prod.categoria}}/{{prod.sub_categoria}}">{{ prod.sub_categoria|capitalize|replace({'-': ' '}) }}</a>
		                </div>
		            </div>

		            {% if i % 4 == 3 %} 
		                </div><div class="grid-12-xs last"> 
		            {% endif %}

		            {% set i = i + 1 %}
		        {% endfor %}
	            </div>
	        </div>
	    </div>

	</div>

</div>

{{ include('inc/_footer.twig') }}