{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

<div class="grid-12-xs last maincontent">

	<div class="grid-12-xs text-center last slidermain">
		<h1>{{mensaje}}</h1>
		<a href="/perfil" class="btnred marginbottom">Ver Mis Pedidos</a>
        <img src="/public/img/homeback1.png">
    </div>

</div>

{{ include('inc/_footer.twig') }}