{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

<div class="grid-12-xs last maincontent">

	<!-- UPPERDIV -->
	<div class="upperimg grid-12-xs last" style="background-image:url(/public/img/cat1.png);">
		<div class="cont95">
			<div class="grid-6-s title">
				<h1 class="text-uppercase">{{ filtro_title }}</h1>
			</div>
			<div class="grid-6-s filtros text-right last">
				<a href="/shop/{{ cat }}/{{ subcat }}/nuevos" class="{% if (filtro == 'nuevos') or (filtro == 'todos') %} sel {% endif %} karla-bold">NUEVOS</a>
				<a href="/shop/{{ cat }}/{{ subcat }}/populares" class="{% if filtro == 'populares' %} sel {% endif %} karla-bold">POPULARES</a>
				<a href="/shop/{{ cat }}/{{ subcat }}/precio-bajo" class="{% if filtro == 'precio-bajo' %} sel {% endif %} karla-bold">PRECIO BAJO</a>
			</div>
		</div>
	</div>

	<!-- PRODUCTOS -->
	<div class="grid-12-xs productos last">

		{% if products|length > 0 %}

			<div class="cont95">
				<div class="grid-12-xs last">

				{% set i = 0 %}
					{% for prod in products %}
					{% set sku = prod.sku %}

		            <div  class="grid-3-m text-center producto {% if i % 4 == 3 %} last {% endif %}">
		                <span id="prod{{ prod.sku }}" class="precio addfast" model="{{ models[prod.sku][0].id }}" sku="{{ prod.sku }}">${{ prod.precio|number_format }} <span class="addfastcart icon-shopping-cart"></span> </span>
		                <div class="cont90">
		                	<div class="cont75">
		                    	<a href="/producto/{{ prod.url }}"><img id="img{{ prod.sku }}" src="/public/img/{{ models[sku][0].img }}"></a>
		                    </div>
		                    <div class="text-center colorsdiv grid-12-xs last">
		                    	{% set j = 0 %}
		                    	{% for item in models[sku] %}
		                    		{% if item.color2 == 'None' %}
		                    		    <span id="{{ item.id }}" sku="{{ item.sku }}" img="{{ item.img }}" class="choosecolor color {% if j == 0 %} coloroutline {% endif %}" style="background-color:{{ item.color1 }};"></span>
		                    		{% else %}
		                    		    <span id="{{ item.id }}" img="{{ item.img }}" sku="{{ item.sku }}" class="choosecolor color {% if j == 0 %} coloroutline {% endif %} ">
		                    		    	<div class="grid50" style="background-color:{{ item.color1 }};"></div>
		                    		    	<div class="grid50" style="background-color:{{ item.color2 }};"></div>
		                    		    </span>
		                    		{% endif %}
		                    		{% set j = j + 1 %}
		                    	{% endfor %}   
		                    </div>
		                    <a href="/producto/{{ prod.url }}" class="text-uppercase karla-bold">{{prod.nombre}}</a><br>
		                    {% if prod.opcion != 'None' %}
		                    	<span class="opcion">{{prod.opcion}}</span>
		                    {% endif %}
		                    <a class="cate" href="/shop/{{prod.categoria}}">{{ prod.categoria|capitalize|replace({'-': ' '}) }}</a> 
		                    <span> | </span>
		                    <a class="cate" href="/shop/{{prod.categoria}}/{{prod.sub_categoria}}">{{ prod.sub_categoria|capitalize|replace({'-': ' '}) }}</a>
		                </div>
		            </div>

		            {% if i % 4 == 3 %} 
		                </div><div class="grid-12-xs last"> 
		            {% endif %}

		            {% set i = i + 1 %}
		        {% endfor %}

		        <div class="grid-12-xs pagination last text-center">
		        	{% if page > 1 %}
		        		<a href="/shop/{{cat}}/{{subcat}}/{{filtro}}/{{ page - 1 }}">Antes</a>
		        	{% endif %}
		        	{% for i in 1..num_pages %}
					    <a class="{% if i == page %} sel {% endif %}" href="/shop/{{cat}}/{{subcat}}/{{filtro}}/{{ i }}">{{ i }}</a>
					{% endfor %}
					{% if page != num_pages %}
		        		<a href="/shop/{{cat}}/{{subcat}}/{{filtro}}/{{ page + 1 }}">Después</a>
		        	{% endif %}
		        </div>

	        </div>
        </div>

        {% else %}

	    	<h1 class="text-center">Desafortunadamente,</h1>
	    	<h3 class="text-center">No hay productos con esta referencia</h3>
	    	<br>

	    	<img src="/public/img/nohay.png">

        {% endif %}

	</div>

</div>

{{ include('inc/_footer.twig') }}