{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

<body>
<h3>What's the time?</h3>
<p>{{ time }}</p>
<h3>Which are the biggest cities in Colombia?</h3>
<ul>
    {% for city in cities %}
        <li>{{ city }}</li>
    {% endfor %}
</ul>
<h3>Is codesign in Colombia?</h3>
<p> {% if is_colombia %}
        Yes!
    {% else %}
        No!
    {% endif %}
</p>

{# PHP prints booleans as 1 and 0, so we mod them here #}
<p>(Boolean value is
    {% if is_colombia %}
    true
{% else %}
    false
    {% endif %})
</p>

{# Prints the info from the methods #}
{% if id is defined %}
    <h3>The id parameter is {{ id }}</h3>
    <p>The db hostname is {{ db_name }}</p>
{% endif %}

{% if hour_name is defined %}
    <h3>The hour is {{ hour_name }}, hour {{ hour_hr }} minute {{ hour_min }}</h3>
{% endif %}
</body>
