{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

<div class="grid-12-xs last maincontent">

	<p>{{count}}</p>

</div>

{{ include('inc/_footer.twig') }}